<div class="middle-bar border-tb-gray show-for-medium">
    <div class="row">
        <div class="small-4 columns text-center">
            <a class="text-center val-bar" href="shopfolder/faq.asp?faq_id=1"><span class="font-heading">
                <i class="fa fa-truck"></i>
            <div>Free Shipping Over $175</div>
          </span>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a class="text-center val-bar" href="shopfolder/faq.asp?faq_id=22"><span class="font-heading">
                <i class="fa fa-ban"></i>
            <div>Zero Sales Tax</div>
          </span>
            </a>
        </div>
        <div class="small-4 columns text-center top-level">
            <a class="text-center val-bar" href="tel:18004446473"><span class="font-heading">
                <i class="fa fa-phone"></i>
                    <div>1-800-444-6473</div>
                </span>
            </a>
        </div>
    </div>
</div>

<!--old #header4
<div id="header4" class="menu">
    <ul>
        <li class="toplevel">
            <div class="search"><input id="productsearchwords" type="text" placeholder="Search Products"><span id="productsearchbutton"></span></div>
        </li>
        <li class="toplevel freeship"><a href="https://dev4.ipdusa.com/faq.asp?faq_id=1">Free Shipping on Orders Over $175*</a></li>
        <li class="toplevel notax"><a href="https://dev4.ipdusa.com/faq.asp?faq_id=22">No Sales Tax</a></li>
        <li class="toplevel"><img class="methods" src="https://dev4.ipdusa.com/skin/images/all-cc-logos.png"></li>
    </ul>
</div>-->