<div class="middle-bar border-tb-gray show-for-large">
    <div class="row">
        <div class="small-4 columns text-center">
            <a class="text-center val-bar" href="https://dev4.ipdusa.com/faq.asp?faq_id=1">
                <i class="fa fa-truck"></i>
                <span class="val-header">                    
                    <div>Free Shipping Over $175*</div>
                </span>
            </a>
        </div>
        <div class="small-4 columns text-center">
            <a class="text-center val-bar" href="https://dev4.ipdusa.com/faq.asp?faq_id=22">
                <i class="fa fa-ban"></i>
                <span class="val-header">                   
                    <div>Zero Sales Tax</div>
                </span>
            </a>
        </div>
        <div class="small-4 columns text-center top-level">
            <a class="text-center val-bar" href="tel:18004446473">
                <i class="fa fa-phone-square"></i>
                <span class="val-header">               
                    <div>1-800-444-6473</div>
                </span>
            </a>
        </div>
    </div>
</div>