
<div class="row expanded show-for-medium">
    <div class="small-12 columns">
        <div class="menu-centered">
            <ul class="menu">
                <li class="toplevel"><a href="https://dev4.ipdusa.com/">Home</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/prodtype.asp" title="Find ipd Products">Shopping</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/promotions.asp">Deals</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/news.asp">Blog</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/techtips.asp">Tech Tips</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/blogs/31/ipd-50-years-of-history-with-the-volvo-community">About Us</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/contact.asp">Contact Us</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/blogs/30/volvo-forums-clubs-community-sites" title="Community Links">Community</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/classifieds.asp" title="Volvo Classified Ads">Classifieds</a></li>
                <li class="toplevel"><a href="https://dev4.ipdusa.com/customer_home.asp">My Account</a></li>
            </ul>
        </div>
    </div>
</div>

<!--old menu
<div class="menu">
    <ul>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/">Home</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/prodtype.asp" title="Find ipd Products">Shopping</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/promotions.asp">Deals</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/news.asp">Blog</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/techtips.asp">Tech Tips</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/blogs/31/ipd-50-years-of-history-with-the-volvo-community">About Us</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/contact.asp">Contact Us</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/blogs/30/volvo-forums-clubs-community-sites" title="Community Links">Community</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/classifieds.asp" title="Volvo Classified Ads">Classifieds</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/customer_home.asp">My Account</a></li>
    <li class="toplevel"><a href="https://dev4.ipdusa.com/basket.asp" id="cartprice">$0.00</a></li>
    </ul>
</div>-->