<!--.middle-bar-->
<div class="middle-bar row expanded show-for-large">
    <div class="small-12 medium-4 column text-center">
        <img src="https://www.ipdusa.com/skin/images/ipdlogo150.png">
        <div class="show-for-large"><span class="slogan">The Volvo Parts, Accessories &amp; <br>Performance Specialists Since 1963</span></div>
    </div>
    <div class="small-12 medium-4 column">
        <div id="search" class="header-search-bar">
            <input type="text" name="search" value="" placeholder="Enter part # or description" id="productsearchwords" class="form-control input-lg">
            <button type="button" class="btn btn-default btn-lg" id="productsearchbutton"><div class="button-i"><i class="zmdi zmdi-search"></i></div></button>
        </div>
    </div>
    <div class="small-12 medium-4 column">
        <div class="social text-center">
            <a target="_blank" href="http://www.facebook.com/ipdusa/" class="uk-icon-button"><i class="zmdi zmdi-facebook"></i></a>
            <a target="_blank" href="http://www.youtube.com/user/IpdVolvo" class="uk-icon-button"><i class="zmdi zmdi-youtube"></i></a>
            <a target="_blank" href="https://twitter.com/ipdVolvo" class="uk-icon-button"><i class="zmdi zmdi-twitter"></i></a>
            <a target="_blank" href="http://instagram.com/ipdvolvo" class="uk-icon-button"><i class="zmdi zmdi-instagram"></i></a>
            <a target="_blank" href="https://plus.google.com/116453085796992349062" class="uk-icon-button"><i class="zmdi zmdi-google-plus"></i></a>
        </div>
    </div>
</div>
<!--/.middle-bar-->