<div class="row large-offset-6">
      <div class="small-12 medium-6 columns">
<div class="row collapse" id="search-row" style="display:none;">
<div class="input-group" id="search">
                <input class="input-group-field search-input" type="text" id="productsearchwords" placeholder="enter product # or description">
                <span class="input-group-label"><button id="productsearchwords">Search</button></span>
            </div>
        </div>
      </div>
</div>

<!--<div class="row" id="search-row">
    <div class="columns small-12 medium-4 float-right">
<div class="input-group" id="search">
  <input class="input-group-field search-input" type="text" id="productsearchwords" placeholder="enter product # or description">
  <span class="input-group-label"><button id="productsearchwords">Search</button></span>
</div>

    </div>
</div>-->
