
 <!--mobile-top-bar-->
 <div class="top-bar mobile hide-for-large">
    <div class="row expanded">
        <div class="small-12 columns small-collapse medium-collapse">
            <div id="logos" class="top-bar-title">
                <span class="mobile-menu-icon" data-responsive-toggle="responsive-menu" data-hide-for="large">
                    <button class="menu-icon light" type="button" data-toggle="responsive-menu"></button>
                </span>
                <a href="https://www.ipdusa.com/"><img class="logo" src="https://www.ipdusa.com/skin/images/ipdlogo150.png" /></a>
            </div>
            <div id="responsive-menu" class="menu-centered mobile-menu top-bar-text">
                    <div id="header4" class="menu-centered hide-for-large">
                            <ul class="menu">
                                <li><a href="tel:18004446473" class="phone"><i class="zmdi zmdi-phone-ring"></i></a></li>
                                <li><a id="init-search" class="search"><i class="zmdi zmdi-search"></i><span class="show-for-large">Search</span></a></li>
                                <li><a href="https://www.ipdusa.com/basket.asp" class="cart cart-price"><i class="zmdi zmdi-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                <ul class="menu vertical hide-for-large">
                    <li class="toplevel"><a href="https://www.ipdusa.com/">Home</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/prodtype.asp" title="Find ipd Products">Shopping</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/promotions.asp">Deals</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/news.asp">Blog</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/techtips.asp">Tech Tips</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/blogs/31/ipd-50-years-of-history-with-the-volvo-community">About Us</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/contact.asp">Contact Us</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/blogs/30/volvo-forums-clubs-community-sites" title="Community Links">Community</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/classifieds.asp" title="Volvo Classified Ads">Classifieds</a></li>
                    <li class="toplevel"><a href="https://www.ipdusa.com/customer_home.asp">My Account</a></li>
                </ul>
                <div class="social text-center">
                    <a target="_blank" href="http://www.facebook.com/ipdusa/" class="uk-icon-button"><i class="zmdi zmdi-facebook"></i></a>
                    <a target="_blank" href="http://www.youtube.com/user/IpdVolvo" class="uk-icon-button"><i class="zmdi zmdi-youtube"></i></a>
                    <a target="_blank" href="https://twitter.com/ipdVolvo" class="uk-icon-button"><i class="zmdi zmdi-twitter"></i></a>
                    <a target="_blank" href="http://instagram.com/ipdvolvo" class="uk-icon-button"><i class="zmdi zmdi-instagram"></i></a>
                    <a target="_blank" href="https://plus.google.com/116453085796992349062" class="uk-icon-button"><i class="zmdi zmdi-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/mobile-top-bar-->
<!--mobile-search-->
<div class="row" id="search-row" style="display:none;">
    <div class="columns small-12 medium-6 float-right">
        <div class="input-group" id="search">
            <input class="input-group-field search-input" type="text" id="mobilesearchwords" placeholder="enter product # or description" />
            <span class="input-group-label"><button type="button" style="color:white;" class="mobilesearchbutton"><i class="zmdi zmdi-search"></i></button></span>
        </div>
    </div>
</div>
<!--/mobile-search-->
<!--.top-bar-->
<div class="top-bar show-for-large" id="top">
    <div class="row expanded">
        <div class="small-12 column">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><i class="zmdi zmdi-truck"></i><span><a href="shopfolder/faq.asp?FAQ_LIST=1" target="_blank">Free shipping over <!-- FREESHIP --></a></span></li>
                    <li><i class="zmdi zmdi-block"></i><span>Zero sales tax</span></li>
                    <li><i class="zmdi zmdi-phone-ring"></i><span><a href="tel:18004446473">1-800-444-6473</a></span></li>
                    <li><i class="zmdi zmdi-email"></i><span>info@ipdusa.com</span></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="shopfolder/customer_home.asp"><i class="zmdi zmdi-account"></i><span>My Account</span><!--<i class="zmdi zmdi-chevron-down"></i>--></a></li>
                    <li><a href="shopfolder/customer_garage.asp"><i class="zmdi zmdi-car"></i><span>My Garage</span><!--<i class="zmdi zmdi-chevron-down"></i>--></a></li>
                    <li>
                        <a href="shopfolder/basket.asp" id="cartprice"><i class="zmdi zmdi-shopping-basket"></i><span><!-- CARTPRICE --></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/.top-bar-->