/*product header*/
#productheader img { border:0; }
#productheader img.prodshot { position:relative; float:left; border:0; cursor:pointer;}
#productheader div.patcd { display:block; overflow:hidden; float:right; vertical-align:middle; text-align:right; white-space:nowrap; }
#productheader div.patcd span { float:right; margin:0 10px 0 0; display:block; overflow:hidden; }
#productheader div.patcd div.addtocartcell { margin:0; }
#productheader div.patcd span.addtocartcell a.cartbutton { margin:0; }
#productheader div.pd1 { position:relative; display:block; overflow:visible; padding:0; margin:0 0 5px 0; }
#productheader div.pd1 span { overflow:hidden; white-space:nowrap; }
#productheader div.pd1 div.addtocartcell { margin:0; float: right;}
#productheader div.pd1 span.unitofmeasure { color: #666666; }
#productheader div.pd1 span.unavailable { color: #cc9999; margin:0; }
#productheader div.pd1 span.normalpricesale { color: #666666; font-weight: normal; text-decoration: line-through; }
#productheader div.pd1 span.specialpricecaption { clear:left; color: #cc00cc;}

/* added 2016-11-18 by KRR */
/* adding new core charge display functionality */

#productheader div.corecharge  { 
    position:relative; 
    float:left; 
    display:block; 
    overflow:hidden; 
    width:540px; 
    margin-bottom:5px; 
}
#productheader div.corecharge span { 
    display:block;
    float:left;
}
#productheader div.corecharge span:first-child { 
    font-weight: bold; 
    color: #ff3333; 
    font-size:1.1rem; 
    cursor:pointer; 
}
#productheader div.corecharge span:first-child:after { 
    display:inline-block;
    font-family: FontAwesome;        
    overflow:visible;
    margin-left:5px; 
    content: '\f059';
}
#productheader div.corecharge span:last-child {
    display:none;
    font-size:12px; 
    padding:5px;
    
}

#productheader  span.unavailable { float:left; padding:10px; font-weight:bold; color:red; font-size:120%; }
#productheader div.pd2 table {  border: 0;  }
#productheader div.pd2 table tbody{  border: 0;  }
#productheader div.pd2 table td.attributename { white-space:nowrap; } 
#productheader div.pd2 table td.attributevalue { color:#000000; background-color: #ffffff; width:100%; padding:1px 0 1px 3px; }
#productheader div.pd2 table td.productname { font-size:12px; }
#productheader div.pd2 table td.warn { color:#ff0000; }
#productheader div.pd2 table td.saleprice { color:#ff0000; }
#productheader div.pd2 table td.regularprice { text-decoration: line-through; }
#productheader div.pd2 div.productattributes { float:right; display:block; overflow:hidden; width:530px; margin:0;}
#productheader div.pd2 div.productattributes span.attributevalue { width:398px; }
#productheader div.pd3 { position:relative; float:left; clear:left; display:block; overflow:hidden; padding:0; margin:0; width: 100%;}

#1addtocartbutton { background-color:#99ff66; color:#000000; border: 1px solid #000000; font-size:12px; font-weight:bold; margin:0; padding:2px 5px 2px 5px; overflow:hidden; cursor:pointer; }
#1alreadyincartbutton { background-color:#cccccc; color:#000000; border: 1px solid #000000; font-size:12px; font-weight:normal; margin:0; overflow:hidden; padding:2px 5px 2px 5px; width:125px; cursor:pointer; }

#2addtocartbutton { background-color:#99ff66; color:#000000; border: 1px solid #000000; font-size:16px; font-weight:bold; margin:0; padding:2px 10px 2px 10px; overflow:hidden; cursor:pointer; }
#2alreadyincartbutton { background-color:#ccffcc; color:#000000; border: 1px solid #000000; font-size:16px; font-weight:normal; margin:0; overflow:hidden; padding:2px 10px 2px 10px; cursor:pointer; }

#addtocartbutton {  font-weight:bold; }

#productheader div.patcd span.availability { clear:both; float:right; padding:2px 5px 2px 2px; margin:3px 0 0 0; }
#productheader div.patcd span.availability a { margin:0; }
#productheader div.patcd span.unitofmeasure { color: #707090; font-size:16px; }
#productheader div.patcd span.saleprice { font-weight: bold; color: #FF0000; font-size:16px; }
#productheader div.patcd span.normalprice{ font-weight: bold; font-size:16px; }
#productheader div.patcd span.normalpricesale { font-weight: normal; text-decoration: line-through; white-space:nowrap; font-size:16px; }

#productheader {
    a {
        &.button {
            margin-right: 3px;
        }
    }
    #cart-msg {
        font-size: 0.9rem;
    }
    .pd3 {
        text-align: center;
        button.light {
            background: $light-gray;
            color:     #393E41;
            i {
                font-size: 1.3rem;
            }
        }
    }
    .watchlist {
        display: block;
        a {
            font-size: .9rem;
        }
    }
}
.product-attributes {
    font-size: 14px;
}

.productavailability {
    i{
        font-size: 1rem;
        background: #73a32d;
        color: white;
        border-radius: 50%;
        padding: 2px 4px;
    }
    a {
        float: none !important;
        display: inline-block !important;
        overflow: initial !important;
        margin: 0 !important;
    }
}

.pd-affirm {
    float: right;
}


.pd4 {
    margin: 5px 0 5px 0;
    span {
        display: inline;
    }
    p {
        display: inline;
    }
    a {
        float: none !important;
        display: inline !important;
    }
}

.pd2 {
    span {
        margin: 10px 10px 0 0;
    }
}

.cartbutton {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 50px;
  padding: .9rem;
  font-weight: 700;
  letter-spacing: .1em;

}

.cartbutton:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.pricecell {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 10px 0 0;
    span {
        &.normalprice{
            color: #1e91d6 !important;
        }
        margin:0 10px 0 0; 
    }
}

.add_qty {
    display:inline-block;

    input {
        width: 60px;
        margin-right: 5px;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .pd-affirm {
        float: none;
    }
        #productheader {

            a {
                display: block;
                overflow: hidden;
                float: none;
                margin: 4px 5px 1px 0;
            }
        } 
    #productheader div.pd1 div.addtocartcell { margin:10px 0 10px 0; width: 100%; }
        #productheader div.pd1 div.addtocartcell a.cartbutton {
        float: none;
    }
    .pd1 {
        text-align: center;
    }
    #productheader div.pd1 span {
        float: none;
        margin: 10px 0px 0 0;
    }
       div.pricecell {
        width: 100%;
        display: inline-block;
        text-align: center;
        .normalpricesale{
            display:block;
        }
        .specialpricespan {
            display: block;
        }        
    }
    #success-message {
        text-align: center;
    }
    .productavailability {
        margin-left: 10px !important;
    }
}

///* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}