.dimmed { opacity:0.7; filter:alpha(opacity=70); -khtml-opacity: 0.7; }

div.clearpad { display:block; overflow:hidden; clear:both; padding:10px 0 10px 0; }

.left { clear:left;  }

#cartsummary { position:absolute; display:none; bottom:10px; right:10px; border:1px solid #004499; width:130px; height:50px; background-color: #ffffff; color:#000000; padding:0; z-index:1000; font-weight:bold; overflow:hidden; }
#cartsummary a { position:relative; display:block; width:100%; height:100%;}
#cartsummary a  img { position:absolute; left:10px; top:5px; border:0; width:40px; height:40px; }
#cartsummary a span { position:absolute; left:55px; top:10px; height:30px; width:70px; text-align:center; }


#contentwrapper { display:block; padding: 20px 10px; background-color:#ffffff; clear:both; }
#contentarea { margin:0; border:0; width:100%; background-color:#FFFFFF; vertical-align:top; text-align:left; min-height:200px; }

#homepagecontent { display:block; padding:0px; margin:0; width:100%; overflow:hidden; clear:both; }
#homepagecontent img { border: 0; margin: 0; padding:0; }

span.worddefinition { cursor:pointer; color: #993300; }
div.fb-like { display:block; overflow:hidden; height:24px; width: 950px; z-index:1; }

#faq { display:block; margin: 0 0 20px 0; clear:both; overflow:hidden; line-height:normal;}

#faq > li { margin-top: 10px; }
#faq > li > a { font-size:100%; font-weight:bold; }
#faq span.faqitem {  display:block; overflow:hidden; clear:both; margin:0 0 10px 10px; padding:20px; }
#faq span.faqitem img { margin:5px; padding:0; border:0; }
#faq span.faqitem p { margin:15px 0; padding:0;}
#faq span.faqitem ul  { margin-top: 10px; margin-bottom:10px; }
#faq span.faqitem ul li { margin-top: 5px; }
#faq span.faqitem h2  { font-size:140%; }
#faq span.faqitem h3  { font-size:120%; }

div.newsletterproductgroup { clear:both; display:block; overflow:hidden; border-top: 4px solid #aaaaaa; padding:5px; margin: 5px 0 15px 0; }
div.newsletterproductgroup h2 { font-size:16px; margin: 0 0 15px 0; }
div.newsletterproductgroup img { margin:10px; }

div.newsletterapplications { clear:both; float:left; width:100%; margin: 10px 0px 0px 0px; display:block; overflow:hidden; }
div.newsletterapplications div:first-child { border-top: 1px solid #C0C0C0; }
div.newsletterapplications div.row {  border-bottom: 1px solid #C0C0C0; padding: 1px 0 1px 0;  margin:0; clear:left; float:left; display:block; overflow:hidden; width:100%; background-color:#F5F5F5; }
div.newsletterapplications div.row div:first-child { border-top: 0; }
div.newsletterapplications div.row div.desc { width:650px; display:block; overflow:hidden; white-space:nowrap; float:left; }
div.newsletterapplications div.row div.desc span { font-size:12px; padding:0; margin-right:5px; text-align:left; white-space:nowrap; overflow:hidden; float:left; display:block; color:#000000; font-weight:normal;  }

div.newsletterapplications div.row div.skudata { width:250px; display:block; overflow:hidden; float:right; }
div.newsletterapplications div.row div.skudata span { font-size:12px; padding:0; margin-left:5px; text-align:left; white-space:nowrap; overflow:hidden; float:right; display:block; color:#000000; font-weight:normal;  }
div.newsletterapplications div.row div.skudata span.sku   { width:50px; }
div.newsletterapplications div.row div.skudata span.brand { width:90px; font-size:10px; }
div.newsletterapplications div.row div.skudata span.price { width:70px; text-align:right; }
div.newsletterapplications div.row div.skudata span.saleprice { color:#ff0000; }
div.newsletterapplications div.row div.skudata span.badsku { width:220px; text-align:center; background-color:#FFFF00; font-weight:bold; }

div.naewsletterapplications table { border-collapse:collapse; width:100%; }
div.naewsletterapplications td { border-top: 1px solid #C0C0C0; border-bottom: 1px solid #C0C0C0; border-left:0; border-right:0; padding:0 5px 0 5px; background-color: #F5F5F5; color: #000000; font-weight: normal; white-space:nowrap; }


.2newslettertable { clear:both; margin: 10px 0px 0px 0px; border-collapse:collapse;  }
.2newslettergroup { border-left: 0; border-right: 0; border-top: 4px solid #aaaaaa; border-bottom: 0; border-collapse: collapse; padding: 5px; margin: 0px; background-color: #FFFFFF; color: #000000; font-weight: normal; }
.n2ewslettergroup img { border: 0; margin: 5px; }


#newslettertoc { padding:0; margin:0 0 10px 0; display:block; overflow:hidden; }
#newslettertoc span.summary { font-weight:normal; margin:5px; overflow:hidden; }
#newslettertoc h2 { clear:both; margin-top:20px; }
#newslettertoc ol { clear:both; padding:0 0 0 25px; }
#newslettertoc ol li { margin:0 0 5px 0; }
#newslettertoc img.pdficon { border:0; margin:0 0 10px 10px; padding:0; float:right; }
#newslettertoc .tocicon { border: 0; margin:0 10px 10px 0; padding:0; float:left; }

table.baskettip {
	border:0;
	margin:0;
	padding:0;
	border-spacing:0;
	border-collapse:collapse;
	font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
}
table.baskettip tbody td {
	padding:1px;
	text-align:left;
	vertical-align:top;
}
table.baskettip tbody td img {
	padding:0;
	margin:0;
}
table.baskettip tbody td span {
	display:block;
	float:left;
	clear:both;
	margin:5px 0 0 0;
}
table.baskettip tbody td span.name {
	font-size:14px;
}
table.baskettip tbody td span.availability {
	margin-top:10px;
	font-size:14px;
}
table.baskettip tbody td span.groundshipping {
	margin-top:10px;
	font-size:12px;
	color:#ff0000;
}



#basketshipping

input.radio, input.checkbox {
	border-style: none;
	background-color: transparent;
	display: inline;
	padding:0;
	margin:0;
	width:16px;
	height:16px;
	width:auto;

}

input.submit, input.submit:visited, a.link_btn, a.link_btn:visited {
	background-color:#006633;
	color:#ffffff;
	border: 1px solid #666666;
	font-size:12px;
	font-weight:bold;
	margin:1px 5px 1px 1px;
	overflow:visible;
	padding:1px 4px;
	cursor:pointer;
}

a.link_btn:hover {
	color:#ffff00;
	border: 1px solid #000000;
}
input.submit.small, input.submit.small:visited, a.link_btn.small, a.link_btn.small:visited {
	font-size:10px;
	text-transform:uppercase;
}

input.submit.negative, input.submit.negative:visited, a.link_btn.negative, a.link_btn.negative:visited {
	background-color:#cc0000;
}
input.submit.neutral, input.submit.neutral:visited, a.link_btn.neutral, a.link_btn.neutral:visited {
	background-color:#669900;
}
input.submit.positive, input.submit.positive:visited, a.link_btn.positive, a.link_btn.positive:visited {
	background-color:#006633;
}
input.submit.gray, input.submit.gray:visited, a.link_btn.gray, a.link_btn.gray:visited {
	background-color:#999999;
}
table.inputform {
	margin: 10px;
	padding: 0 0 40px 0;
	display:block; 
	overflow:hidden;
	border:0;
	border-spacing:0px;
	border-collapse:collapse;
}

table.inputform h2 {
	margin:0; 
	padding: 20px 0 5px 0;
}

table.inputform td {
	padding:2px;
	vertical-align:middle;
}

table.inputform td.xcaption {
	width:150px;
}
table.inputform td input.accept {
	width:150px; 
}
table.inputform td.xvalue input[type="text"] { width:300px; }
table.inputform td.xvalue select { width:300px; }
table.inputform td.xvalue .accept { width:auto; }
table.inputform td.xvalue .decline { width:auto; }

#shippingdetails { clear:left; }
.inputform div.formrow { float:left; clear:left; display:block; overflow:visible;}
.inputform div.formlabel { float:left; width:150px; display:block; overflow:hidden; }
.inputform div.formvalue { float:left; display:block; overflow:visible; }

#cvvimage { float:right; margin:5px; border:0; }

table.inputform td.xvalue input.radio { width:auto; }

table.inputform td.xvalue input.checkbox { 
	width:auto; 
	padding:0;
	margin:0;
	float:left;

}
.inputform td.xvalue span {
	padding:1px 1px 1px 5px;
	float:left;
}
.inputform td {
	padding:2px;
}
.inputform td.xcaption {
	width:150px;
}
.inputform td.xvalue input {
	width:300px;
}


.inputform label.checklabel {
	width: auto;
	float: none;
}

.inputform  .section {
	float: left;
	clear:both;
	margin-bottom: 10px;
	width:100%;
}

.inputform br {
	display: block;
	clear: both;
}

.inputform input.submit {
	margin-left: 180px;
	width: auto;
}

input.radio { background-color:transparent; border:0; }

#breadcrumbs { display:block; overflow:hidden; clear:both; margin:0; padding:5px 3px 5px 0px; border:0; white-space:normal; color: #909090; }
#breadcrumbs span { white-space:nowrap; margin: 0 1px 1px 0; }
#breadcrumbs span a:link, #breadcrumbs span a:visited  { color: #606060; }
#breadcrumbs span a:hover { color: #ff0000; }

.producttip { display:none; }

p.wait4ajax { text-align:center; margin:20px; display:block; float:none !important; }
p.wait4ajax img { border:0; margin:20px; }
p.wait4ajax span { display:block;  white-space:nowrap; }
div.relatedproducts { position:relative; display:block; clear:both; overflow:hidden; cursor:pointer; }
div.relatedproducts { font-weight: normal; }
div.relatedproducts div.box { float:left; width:910px;  min-height:153px; clear:both; padding:0; margin:0 0 10px 0; display:block; position:relative; color:#000000; }
div.relatedproducts div.box a { color:#000000; }

div.relatedproducts div.box div.productattributes { float:right; display:block; overflow:hidden; width:530px; margin:0;}
div.relatedproducts div.box div.productattributes span.attributevalue { width:398px; }
div.relatedproducts div.box img { border:0; margin:0; padding:0; background-color:#ffffff; float:left; display:block; overflow:hidden; border:0; }
div.relatedproducts div.box span.strapline { text-align:center; vertical-align:middle; float:left; display:block; overflow:hidden; padding:5px; width:168px; height:142px; background-color:#ffffff; }


div.productswide { position:relative; display:block; clear:both; overflow:hidden; }
div.productswide .pad { padding:5px; }
div.productswide .box { float:left; display:block; overflow:hidden; width:940px; height:160px; padding:0; margin:5px; border:1px solid transparent; background-color:#ffffff; }
div.productswide .box:hover { border: 1px solid #999999; color: #000000; }
div.productswide .box a:hover { color: #000000; }
div.productswide .box img { float:left; border:0; margin:5px; padding:0; }
div.productswide .name { display:block; overflow:hidden; float:left; height:20px; width:718px; margin:5px; font-size:16px; font-weight:bold; }
div.productswide .desc { display:block; overflow:hidden; float:left; height:120px; width:718px; margin:5px; font-size:12px; }
div.productswide .price { display:block; clear:both; margin:0; font-size:14px; }
div.productswide p { clear:both; }


#filterdetails { border:1px solid #909090; float:left; display:block; overflow:hidden; width: 645px; padding:5px; margin:2px 2px 6px 5px; background-color:#eeeeee; }
#filterdetails td { padding:0 0 2px 0; font-size:12px; text-align:left; vertical-align:middle; }
#filterdetails p { margin: 0 0 5px 0; }


#filterencouragement { border:1px solid #909090; float:left; display:block; overflow:hidden; width: 645px; padding:5px; margin:2px 2px 6px 5px; background-color:#ffff66; }
#filterencouragement span { display:block; overflow:hidden; padding-top:3px; float:left; font-size:20px; color:#000000; }
#filterencouragement img { float:left; border:0; padding:0; margin:0 10px 0 0; }

div.filterencouragement { border:1px solid #909090; float:left; display:block; overflow:hidden; width: 645px; padding:5px; margin:2px 2px 6px 5px; background-color:#ffff66; }
div.filterencouragement span { display:block; overflow:hidden; padding-top:3px; float:left; font-size:14px; color:#000000; }
div.filterencouragement img { float:left; border:0; padding:0; margin:0 10px 0 0; height: 20px; }

#product p { margin: 0 0 12px 0px; }

#product .thumbnail { border: 0px; float: right; margin-left: 5px; margin-bottom: 5px; }


#productfiles ul { list-style-image:none; padding:0; margin:0; }
#productfiles ul li { padding:0; margin:3px; display:block; float:left; clear:left; overflow:hidden; width: 100%;}
#productfiles ul li i { padding:0; margin:0; border:0; float:left; font-size: 22px;}
#productfiles ul li span { padding:2px 0 0 5px; margin:0; display:block; float:left; }

#container { display:block; margin:0; }

div.productvehiclechoice { display:block; overflow:hidden; margin:0 0 10px 0; }
div.productvehiclechoice ul { display:block; overflow:hidden; padding:0; margin:0; list-style-type:none; }
div.productvehiclechoice ul li { display:block; overflow:hidden; width:645px; padding:5px; margin:5px; border: 1px solid #ffffff;}
div.productvehiclechoice ul li span { display:block; overflow:hidden; }
div.productvehiclechoice ul li span.title { display:block; overflow:hidden; font-size:16px; color:#00439A; font-weight:bold; }
div.productvehiclechoice ul li span.desc  { display:block; overflow:hidden; font-size:12px; font-weight:normal; color:#000000; margin-left:20px; margin-top:5px; }
div.productvehiclechoice ul li:hover { background-color:#ffffcc; border: 1px solid #000000; }


#shopvehiclechoice { display:block; overflow:hidden; float:left; margin: 2px 2px 10px 5px; padding:5px; width:645px; background-color: #eeeeee; border:1px solid #909090; }
#shopvehiclechoice img { float:left; margin:5px;  border:2px solid #6666ff; }


#left_pad { padding: 0px 5px 0px 8px; }
#left h2 { margin: 10px 0px 5px 0px; font-weight: bold; }
#left input.submit { height: 22px; width: 30px; }
#left input.text { width: 95px; }

#mailinglist label#email {
	display: block;
	margin: 0px 0px 2px 0px;
}

#mailinglist label#htmlemail {
	display: block;
	margin: 2px 0px 2px 0px;
}

#right h2 { margin: 10px 0px 5px 0px; font-weight: bold; }


#productreviews div.review { margin: 0 0 5px 0; padding:10px; font-weight:normal; }
#productreviews div.review span.reviewer { font-style:italic; }
#productreviews div.review span.reviewer span.stars { display:inline; margin-right:5px; }
#productreviews div.review span.reviewer span.stars img { margin:1px; }
#productreviews div.review p { margin:15px 20px 15px 20px; }
#productreviews div.review p.response { font-style:italic;font-weight:bold; }

#adhocshipping { font-weight:normal; min-height:300px; }
#adhocshipping h2 { display:block; float:left; clear:both; }
#adhocshipping p { display:block; float:left; clear:both; }
#adhocshipping ul { display:block; float:left; clear:both; margin: 10px; padding:0; width:100%; }
#adhocshipping ul li { margin:0 0 5px 15px; font-size:12px; color:#990000; }



.addreview form strong { display: block; }

.addreview form p { margin: 0px 0px 20px 180px; }

.addreview textarea { width: 300px; height: 200px; font-family: tahoma,verdana,arial; font-size: 12px; }


div.productfits { float:left; clear:both; display:block; overflow:hidden; width:940px; margin-bottom:10px; padding:5px; border:0; font-size:16px; white-space:nowrap; color:#000000; background-color:#ccffcc; border:1px solid #009900; }
div.productfits span { float:left; display:block; overflow:hidden; margin-right:7px; font-weight:bold; white-space:nowrap; }
div.productfits span.caption { font-weight:normal; padding-bottom:5px; }
div.productfits div.vehicle { clear:left; }

div.checkfitment { float:left; clear:both; display:block; overflow:hidden; width:940px; margin-bottom:20px; padding:5px; border:0; white-space:nowrap; }


div.productnofit { float:left; clear:both; display:block; overflow:hidden; width:940px; margin-bottom:10px; padding:5px; border:0; font-size:16px; white-space:nowrap; color:#330000; background-color:#ffcccc; border:1px solid #ff0000; }
div.productnofit span { float:left; display:block; overflow:hidden; margin-right:7px; font-weight:bold; white-space:nowrap; }
div.productnofit span.caption { font-weight:normal; padding-bottom:5px; }
div.productnofit div.vehicle { clear:left; }
div.productnofit div.buttons { clear:left; padding:5px; }



div.vehicledescription { float:left; clear:both; display:block; overflow:hidden; }
div.vehicledescription span { float:left; display:block; overflow:hidden;  margin-right:5px; white-space:nowrap; }


div.tabcontent { display:none; }

div.tabcontent div.contentsection { display:block; overflow:hidden; width:100%; float:left; padding:0; margin: 0 0 20px 0; } 

div.cartoonbubble { display:block; overflow:hidden; width:400px; margin:0; padding:0; }
div.cartoonbubble p { padding:0; margin:5px 0 5px 0; }
div.cartoonbubble span.strapline { padding-top: 5px; display:block; overflow:hidden; clear:both; white-space:normal; }


/* added 2016-11-18 by KRR */
/* adding new core charge display functionality */

#productheader div.corecharge  { 
    position:relative; 
    float:left; 
    display:block; 
    overflow:hidden; 
    width:540px; 
    margin-bottom:5px; 
}

#productheader div.corecharge span { 
    display:block;
    float:left;
}
#productheader div.corecharge span:first-child { 
    font-weight: bold; 
    color: #ff3333; 
    font-size:16px; 
    cursor:pointer; 
}
#productheader div.corecharge span:first-child:after { 
    display:inline-block;
    font-family: FontAwesome;        
    overflow:visible;
    margin-left:5px; 
    content: '\f059';
}
#productheader div.corecharge span:last-child {
    display:none;
    font-size:12px; 
    padding:5px;
    
}
/* core charge */


#narrativeheader { display:block; float:left; width:100%; padding:0; margin:0 0 10px 0; border-spacing:0; }
#narrativeheader td { vertical-align:top; }
#narrativeheader td.attributescell { width:700px; }
#narrativeheader td.iconscell img { margin: 0 0 5px 5px; float:right; border:0; padding:0; width:50px; height:50px; }
#narrativeheader td.iconscell { width:420px; padding:5px 0 5px 0; }
#narrativeheader td.imagecell { width:100px; cursor:pointer; }
#narrativeheader td.imagecell img { margin:0; border:0; padding:0; }

div.productattributes { display:block; white-space:normal; font-size:10px; padding:0 0 1px 1px; float:left; margin:0 0 10px 0; background-color:#cccccc; }
div.productattributes div { display:block; overflow:hidden; float:left; margin:1px 1px 0 0; white-space:nowrap; }
div.productattributes div span { font-size:10px; padding:0 5px 0 5px; margin:0; display:block; overflow:hidden; float:left; text-transform:uppercase; }
div.productattributes div span.attributename { width:110px; color:#666666; background-color: #f0f0f0; }
div.productattributes div span.attributevalue { width:782px; color:#000000; background-color: #ffffff; }

.cartoonbubble .productattributes div span.attributevalue { width:268px; }

#vehicleapplications { font-weight:normal; }
#vehicleapplications h2 { cursor:pointer; margin:5px 0 5px 0; padding:0; }
#vehicleapplications h2 i { margin-right:5px; padding-top:5px; border:0; float:left;}

div.vehicleapplications div:first-child {border-top: 1px solid #e0e0e0;} 
div.vehicleapplications div { border-bottom: 1px solid #e0e0e0;} 
div.vehicleapplications div:nth-child(2n) { background-color: #f0f0f0; }    
div.vehicleapplications div.row:hover { background-color:#649bf7; color:#ffffff; cursor:default; }

div.vehicleapplications div.row { display:block; float:left; overflow:hidden; width:100%; font-size:10px; }
div.vehicleapplications div.heading { font-size:8px;  background-color:#cccccc; text-transform:uppercase; }
div.vehicleapplications div.row span.cell { display:block; float:left; overflow:hidden; margin:0 10px 0 0; white-space:nowrap; }
div.vehicleapplications div.row span.VL_YEAR { width:30px; } 
div.vehicleapplications div.row span.VL_MAKE { width:45px; }
div.vehicleapplications div.row span.VL_MODEL { width:50px; }  
div.vehicleapplications div.row span.VL_SUBMODEL { width:80px; }  
div.vehicleapplications div.row span.VL_BODYSTYLE { width:100px; }  
div.vehicleapplications div.row span.VL_ENGINE { width:150px; }  
div.vehicleapplications div.row span.VL_DRIVETRAIN { width:30px; }  
div.vehicleapplications div.row span.VL_TRANSMISSION { width:170px; }  
div.vehicleapplications div.row span.VL_FUELSYSTEM { width:100px; }  
div.vehicleapplications div.row span.VL_CHASSIS { width:40px; }  



#productavailability { display:block; overflow:hidden; clear:both; }
#productavailability p.specialmessage { font-weight:bold; color:#990000; }
#productavailability p.status { font-weight:bold; margin-left:10px; }
#productavailability span.notinstock { font-weight:bold; color:#FF0000; text-transform:uppercase; }
#productavailability div.leftblock { display:block; overflow:hidden; width:450px; float:left;}
#productavailability div.rightblock { display:block; overflow:hidden; width:420px; float:right;}
#productavailability p { text-align:left; margin:0 0 20px 0; }
#productavailability p.disclaimer { font-style: italic; }


.paymenttypemessage { font-weight:bold; margin-left:10px; margin-bottom:10px !important; }



.h2productvideos { font-size: 14px; color: #00439a; padding: 0; margin: 1px 0px 5px 55px; }
div.productvideos { display:block; overflow:hidden; margin-bottom:20px; margin-top:10px; float:left; clear:left; background-image:url('/skin/images/youtube_logo.jpg'); background-repeat:no-repeat; }
div.productvideos .vidbox { margin-left:10px; margin-top:10px; padding:0; float:left; display:block; overflow:hidden; width:290px; height:163px; position:relative; border:1px solid #666666;  }
div.productvideos .vidbox  span.title { clear:left; display:block; width:270px; height:140px; font-weight:bold; font-size:18px; color:#ffffff; padding:25px 10px 0 10px; text-align:center; position:absolute; left:0; top:0; opacity:0.6; filter:alpha(opacity=60);}
div.productvideos img { width:100%; height:100%; border:0; position:absolute; lefT:0; top:0; opacity:1.0; filter:alpha(opacity=100); }
div.productvideos .vidbox:hover { border:1px solid #000000;  }
div.productvideos .vidbox:hover img { color:#000000; opacity:0.5; filter:alpha(opacity=50);}
div.productvideos .vidbox:hover  span.title { color:#0000ff; text-shadow: 1px 1px #cccccc; }

#popupdiv {
	display:none;
	padding:5px;
}

#atcproductname {
	text-align:center;
	margin:5px;
	font-size:16px;
	font-weight:bold;
	color:black;
	clear:both;
	height:40px;
	display:block;
	overflow:hidden;
}
#atcwarning {
	text-align:center;
	display:block;
	overflow:hidden;
	margin:5px;
	font-size:14px;
	font-weight:bold;
	color:#ff0000;
	clear:both;
	height:100px;
}
#atcuom {
	text-align:center;
	display:block;
	overflow:hidden;
	margin:5px;
	font-size:14px;
	font-weight:bold;
	color:black;
	clear:both;
}

#atcimage {
	height:150px;
	display:block;
	overflow:hidden;
	margin:5px;
	clear:both;

}
#nothankslink {
	text-align:center;
	font-size:14px;
	display:block;
	overflow:hidden;
	padding:5px;
}

#addtocartcontainer p.priceline {
    font-size: 20px;
    font-weight: bold;
}

#addtocartcontainer h5.partnumber {
    font-weight: bold;
}

#addtocartcontainer {
	table {
		thead {
			border: none;
		}
		tbody {
			border: none;
		}
		tfoot {
			border: none;
		}
		td {
			input {
				width: 40px;
			}
		}
	}
}

#applicationwarning { position:absolute; display:block; overflow:hidden; border:0; left:0; top:0; width:100%; z-index:100; margin:0; background-color:#ffffff; }
#applicationwarning #warningcontent { display:block; float:left; clear:both; overflow:auto; border:0; width:100%; padding:10px; margin:0; background-color:#ffffff; }
#applicationwarning #warningcontent h1 { font-size:20px; font-weight:bold; padding:0; display:block; text-align:center; margin:0 0 5px 0; width:100%; }
#applicationwarning #warningcontent h2 { font-size:16px; font-weight:bold; padding:0; display:block; text-align:center; margin:0 0 5px 0; width:100%; }
#applicationwarning #warningcontent ul li { margin-bottom:3px; }
#applicationwarning #warningcontent p { margin:0 0 10px 0; }
#applicationwarning #warningbuttons { display:block; overflow:hidden; padding:10px; margin:0; text-align:center; clear:both; background-color:#ffffff; }

//#cartprice:before { display: inline-block; font-family:FontAwesome; content: "\f07a"; padding-right:10px;}

#fitmentissues { clear:both; display:block; overflow:hidden; margin:0 0 20px 0;}

#techtip { clear:both; display:block; overflow:hidden; margin:0 0 20px 0;}
#techtip img { margin:5px 10px 5px 10px; padding:0; border:0; }
#techtip .author { font-size:10px; margin:0 0 10px 0; font-style:italic; }

#technicaltips { display:block; clear:both; overflow:hidden; margin:0 0 20px 0;}
#technicaltips ul { display:block; float:left; clear:both; overflow:hidden; margin:10px 0 10px 0; padding:0 0 0 20px; }
#technicaltips ul li { margin-bottom:2px; list-style-type:none; }
#technicaltips #searchbox { display:block; overflow:hidden; float:left; white-space:nowrap; padding:3px; margin:0 0 0 20px; }
#technicaltips #searchbox span { margin:3px 10px 0 0; float:left; white-space:nowrap; }
#technicaltips #searchbox a { float:left; white-space:nowrap; }
#technicaltips #searchbox #searchwords { float:left; font-size:12px; border:1px solid #999999; margin-right:5px; width:200px; text-transform:uppercase; }

.shadetabs { position:relative; clear:both; padding: 3px 0; margin-left:0; margin-top:1px; margin-bottom:0; font-size:11px; list-style-type:none; text-align:left; height:34px; }
.shadetabs li { display:inline; margin:0; }
.shadetabs li a { background: url("/skin/images/tab_bg_up.gif") repeat-x scroll left top #d0d0d0; float:left; text-decoration:none; position:relative; z-index: 1; padding: 3px 7px; margin-right:3px; border:1px solid #778; color:#2d2b2b; height:30px; width:85px; text-align:center; }
.shadetabs li a:visited { color: #2d2b2b; }
.shadetabs li a:hover { background: url("/skin/images/tab_bg_over.gif") repeat-x scroll left top #d0d0d0; text-decoration:none; color:#ffffff; }
.shadetabs li a.selected { position: relative; }
.shadetabs li a.selected { background: url("/skin/images/pixel.gif") repeat-x scroll left top #ffffff; border-bottom-color:white; }
.shadetabs li a.selected:hover { color:#2d2b2b; text-decoration:none; }

.ui-tabs { clear:both; position:relative; margin:10px 0 0 0; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabs .ui-tabs-panel { display: block;  padding: 10px; background: none; overflow:hidden; min-height:275px; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-widget-content { background: #ffffff/*{bgColorContent}*/ /*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #999999/*{borderColorHeader}*/ /*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/;  }


.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0;  text-decoration: none; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
}

div.searchresults .zbtn-small { text-transform:uppercase; font-size:10px; margin-left:0; margin-right:5px; padding: 1px 3px; }


#productdiagram { position:relative; display:block; border:1px solid #000000;  height:700px; overflow:hidden; background-color:#ffffff; background-repeat: no-repeat; }
#productdiagram img { border:0; margin:0; padding:0; position:relative;  z-index:1; }
#productdiagram a { position:absolute; display:block; padding:3px 6px 3px 6px; border:1px solid #000000; font-size:14px; background-color:#346bc7; color:#ffffff; z-index:2; }
#productdiagram a:hover { background-color: #ffff00; color:#000000; }



#freeshipheader { display:block; border:1px solid #000000; position:absolute; left:5px; bottom:5px; width:180px; height:52px; overflow:hidden; }
#freeshipheader img {width:100%; height:100%; border:0; }


#OldBrowserWarning { display:block; clear:both; overflow:hidden; background-color:#ffffcc; padding:20px;}
#OldBrowserWarning > p{ padding:10px; margin:0; text-align:center; font-size:16px; font-weight:bold; color:#FF0000; overflow:hidden;}

.jssora07l, .jssora07r {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: url('/skin/images/jssora_arrows.png') no-repeat;
	overflow: hidden;
}
.jssora07l { background-position: -5px -35px; }
.jssora07r { background-position: -65px -35px; }
.jssora07l:hover { background-position: -125px -35px; }
.jssora07r:hover { background-position: -185px -35px; }
.jssora07l.jssora07ldn { background-position: -245px -35px; }
.jssora07r.jssora07rdn { background-position: -305px -35px; }


.jssort01 { position: absolute; width: 640px; height: 75px; padding:5px 0 2px 0; bottom:0; }
.jssort01 .p { position: absolute; top: 0; left: 0; width: 100px; height: 75px; }
.jssort01 .t { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; }
.jssort01 .w { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.jssort01 .c { position: absolute; top: 0; left: 0; width: 96px; height: 71px; border: #666666 2px solid; }
.jssort01 .pav .c { top: 0; width: 96px; height: 71px; border: #ff0000 2px solid; }
.jssort01 .p:hover {cursor:pointer; } 
.jssort01 .p:hover .c { border-color: #0000ff; }
.jssort01 .p.pdn .c { width: 96px; height: 71px; border: #00ff00 2px solid; }
			
div.microdata { display:none; overflow:hidden; }


.pds-box {
width: 100% !important;
}

.pds-answer-group {
display: inline-block !important;
margin-left: 35px;
}

#tca { clear:both; overflow:hidden; margin:10px 0; }
#tca  p:last-child { margin-top:20px; }
#tca p .zbtn { margin-left:0; margin-right:10px; }
#tbl_AGREE input[type='checkbox'] { margin:0; padding:0; width:24px; height:24px; }
#tbl_AGREE { border-spacing:0; border-collapse:collapse; }
#tbl_AGREE td { padding:5px; }
#tbl_AGREE label { font-size:140%; padding:0 10px 0 0; }
#tbl_AGREE.blink  { background-color:#ffcccc; }


	
	