<div class="categories">
    <h5>Categories</h5>
    <hr>
    <ul class="menu vertical">
        <li><a href="/prodtype.asp?CAT_ID=944&amp;numRecordPosition=0&amp;categorycrumbs=">Books &amp; Media</a></li>
        <li><a href="/prodtype.asp?CAT_ID=945&amp;numRecordPosition=0&amp;categorycrumbs=">Brakes</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1123&amp;numRecordPosition=0&amp;categorycrumbs=">Car Care Products</a></li>
        <li><a href="/prodtype.asp?CAT_ID=957&amp;numRecordPosition=0&amp;categorycrumbs=">Collectibles &amp; Apparel</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1053&amp;numRecordPosition=0&amp;categorycrumbs=">Electrical</a></li>
        <li><a href="/prodtype.asp?CAT_ID=986&amp;numRecordPosition=0&amp;categorycrumbs=">Engine</a></li>
        <li><a href="/prodtype.asp?CAT_ID=997&amp;numRecordPosition=0&amp;categorycrumbs=">Exhaust System</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1050&amp;numRecordPosition=0&amp;categorycrumbs=">Exterior</a></li>
        <li><a href="/prodtype.asp?CAT_ID=958&amp;numRecordPosition=0&amp;categorycrumbs=">Filters &amp; Tune-Up</a></li>
        <li><a href="/prodtype.asp?CAT_ID=988&amp;numRecordPosition=0&amp;categorycrumbs=">Fuel &amp; Ignition System</a></li>
        <li><a href="/prodtype.asp?CAT_ID=998&amp;numRecordPosition=0&amp;categorycrumbs=">Heating &amp; Cooling</a></li>
        <li><a href="/prodtype.asp?CAT_ID=983&amp;numRecordPosition=0&amp;categorycrumbs=">Intake &amp; Induction</a></li>
        <li><a href="/prodtype.asp?CAT_ID=999&amp;numRecordPosition=0&amp;categorycrumbs=">Interior</a></li>
        <li><a href="/prodtype.asp?CAT_ID=970&amp;numRecordPosition=0&amp;categorycrumbs=">Lighting &amp; Lenses</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1072&amp;numRecordPosition=0&amp;categorycrumbs=">Miscellaneous Products</a></li>
        <li><a href="/prodtype.asp?CAT_ID=987&amp;numRecordPosition=0&amp;categorycrumbs=">Suspension &amp; Steering</a></li>
        <li><a href="/prodtype.asp?CAT_ID=968&amp;numRecordPosition=0&amp;categorycrumbs=">Tools</a></li>
        <li><a href="/prodtype.asp?CAT_ID=969&amp;numRecordPosition=0&amp;categorycrumbs=">Transmission &amp; Drive Train</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1000&amp;numRecordPosition=0&amp;categorycrumbs=">Wheels</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1102&amp;numRecordPosition=0&amp;categorycrumbs=">Wipers &amp; Washers</a></li>
    </ul>
</div>