<div class="paging paging_footer ">
    <span class="first disabled caption" title="Jump to FIRST page">&lt;&lt; FIRST</span>
    <span class="disabled caption" title="Jump to PREVIOUS page">&lt; PREV</span>
    <span class="current disabled">1</span>
    <a href="prodtype.asp?numRecordPosition=49&amp;CAT_ID=0&amp;categorycrumbs=">
        <span class="linked">2</span></a>
    <a href="prodtype.asp?numRecordPosition=97&amp;CAT_ID=0&amp;categorycrumbs=">
            <span class="linked">3</span></a><a href="prodtype.asp?numRecordPosition=145&amp;CAT_ID=0&amp;categorycrumbs=">
                <span class="linked">4</span></a>
    <a href="prodtype.asp?numRecordPosition=193&amp;CAT_ID=0&amp;categorycrumbs=">
                <span class="linked">5</span></a><a href="prodtype.asp?numRecordPosition=241&amp;CAT_ID=0&amp;categorycrumbs=">
                    <span class="linked">6</span></a>
    <a href="prodtype.asp?numRecordPosition=289&amp;CAT_ID=0&amp;categorycrumbs=">
                    <span class="linked">7</span></a><a href="prodtype.asp?numRecordPosition=337&amp;CAT_ID=0&amp;categorycrumbs="><span class="linked">8</span></a>
    <a href="prodtype.asp?numRecordPosition=385&amp;CAT_ID=0&amp;categorycrumbs=">
                        <span class="linked">9</span></a><a href="prodtype.asp?numRecordPosition=433&amp;CAT_ID=0&amp;categorycrumbs="><span class="linked">10</span></a>
    <a href="prodtype.asp?numRecordPosition=49&amp;CAT_ID=0&amp;categorycrumbs=">
                            <span class="linked caption" title="Jump to NEXT page">NEXT &gt;</span>
                            </a>
    <a href="prodtype.asp?numRecordPosition=5857&amp;CAT_ID=0&amp;categorycrumbs="><span class="last linked caption" title="Jump to LAST page">LAST &gt;&gt;</span></a></div>
</div>