<div class="resultsbox row small-up-1 large-up-3">
    <div class="box shopbycar column">
        <a href="/choosevehicle.asp?VL_RETURNTO=0"><img src="https://dev4.ipdusa.com/skin/images/ShopByCar.jpg"><span class="modelmake">Shop by Car</span>
                                <span
                                    class="modelnotes">Displays only products that fit the selected car (more precise)</span>
                            </a>
    </div>
    <div class="box shopbycar column">
        <a href="/prodtypemodelbrowser.asp"><img src="https://dev4.ipdusa.com/skin/images/ShopByModelFamily.jpg"><span class="modelmake">Shop by Model family</span>
                                <span
                                    class="modelnotes">Displays products for the entire model family (less precise)</span>
                            </a>
    </div>
    <div class="box shopbycar column">
        <a href="/customer_garage.asp"><img src="https://dev4.ipdusa.com/skin/images/ShopByMyGarage.jpg"><span class="modelmake">Shop from My Garage</span>
                                <span
                                    class="modelnotes">Select a car you previously<br>saved to your Garage</span>
                            </a>
    </div>
</div>