/*bottom-bar*/
.bottom-bar {
    &.mobile {
        .dropdown-pane {
            width: 100%;
            padding: 0;
            border: 0;
        }
        .menu {
            box-shadow: none;
            li {
                    border-bottom: 1px solid #eee;
                a {
                    padding: 0 20px;
                    min-height: 15px;
                    line-height: 50px;
                    display: block;
                    position: relative;
                    color: #444;
                    font-size: 1rem;
                }
            }
        }
    }
    .dropdown {
        &.menu {
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
            li {
                margin-right: -3px;
                transition: all 0.2s ease-in 0s;
                a {
                    padding: 0 20px;
                    min-height: 15px;
                    line-height: 50px;
                    display: block;
                    position: relative;
                    color: #444;
                }
                &.is-dropdown-submenu-parent {
                    &.opens-right {
                        a {
                            &:after {
                                border: inset 5px;
                                border-color: transparent transparent transparent #999;
                                right: 30%;
                            }
                        }
                    }
                    .is-dropdown-submenu {
                        width: 1000px;
                        z-index: 1;
                        a {
                            padding: 0.7rem 1rem;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
    #shop-by-model {
        color: #fff;
        background: #2f7eba;
        &:after {
            right: 5px;
            border-color: #fff transparent transparent !important;
        }
    }
}