/*headertopbar*/
.top-bar {
    .top-bar-title{
        padding-top: 5px;
    }
    span {
        &.slogan {
            font-size:100%;
            text-align:left;  
            overflow:hidden;
            line-height: 3;
            font-weight: bold;

        }
    }
    a{
        font-size: 110%;
        color:black;
        &.wpd { 
            display:inline-block; 
            width:40px; 
            height:29px;
            }
    }
    input {
        margin-right: 0;
    }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    .top-bar-right {
        width: auto !important;
    }
    .top-bar-title {
        width: 100%;
    }
    div#mobile-menu {
    padding-top: 65px;
}
    #header4{
        .menu {
            
            li{
                a{
                    padding: 0 0.2rem;
                    font-size: 140%;
                }
            }
        }
    }
    .top-bar {
        box-shadow:0;
        a{
            &.wpd { 
                display:inline-block; 
                width:45px; 
                height:50px;
            }
        }
            input {
                margin-right: 0;
            }
            #logos {
     
            img {
                display: inline-block;
                    width: 125px;
            }
        }
        .menu-icon {
                width: 25px;
        }
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
        .top-bar {
        box-shadow:0;
        font-size: 1.3rem;
        a{
            &.wpd { 
                display:inline-block; 
                width:60px; 
                height:50px;
            }
        }
            input {
                margin-right: 0;
            }
            #logos {
            img {
                display: inline-block;
                margin-left: 10px;
            }
        }
        .menu-icon {
                width: 25px;
        }
    }
    span.phone {
        a {
            font-size: 1.3rem;
        }
    }
    .top-bar-right {
        width: 100% !important;
    }
    .menu-icon.dark {

        width: 30px;

    }
        .menu-icon.dark::after {
        height: 3px;

    }
        .top-bar-right {
        width: auto !important;
    }
    .top-bar-title {
        width: 100%;
    }
    div#mobile-menu {
    padding-top: 65px;
}
    #header4{
        margin-right: 20px;
        .menu {
            
            li{
                a{
                    padding: 0 1rem;
                    font-size: 140%;
                }
            }
        }
    }
    .top-bar {
        box-shadow:0;
        a{
            &.wpd { 
                display:inline-block; 
                width:45px; 
                height:50px;
            }
        }
            input {
                margin-right: 0;
            }
            #logos {
     
            img {
                display: inline-block;
                margin-left: 10px;
                        width: 165px;
            }
        }
        .menu-icon {
                width: 25px;
        }
    }
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


//notes
//1. removed background-color:#004499; from #headertopbar {}
//2. replaced color: #ffffff; #headertopbar {} old: color: #ffffff; new: color: black;
//3. replaced color: #ffffff; #headertopbar span.phone > a {} old: color: #ffffff; new: color: black;
//4. removed #headertopbar span.phone > a:hover { color:#ffff00; }
//5. changed background: transparent url('/css/images/wpd-logo-header.jpg') from #headertopbar a.wpd { } to background: transparent url('https://www.wpdusa.com/css/images/wpd-logo-header.jpg')
//6. removed #headertopbar { position:relative; width:100%; height:38px; overflow:hidden; color: black;}
//7. removed #headertopbar a.wpd { display:inline-block; position: absolute; width:35px; height:24px; top:7px; left:165px; background: transparent url('https://www.wpdusa.com/css/images/wpd-logo-header.jpg') no-repeat left top;  background-size:100% 100%;}
//8. added .top-bar  a.wpd { display:inline-block; width:40px; height:29px; }
//9. removed #headertopbar img.logo { position: absolute; width:146px; height:32px; top:3px; left:3px; }
//10. removed #headertopbar span { display:inline-block; position:absolute; line-height:38px; top:0; }
//11. removed #headertopbar span.slogan { left:230px; font-size:130%; text-align:left; width: 580px; overflow:hidden; }
//12. added .top-bar span.slogan { font-size:100%; text-align:left; overflow:hidden; line-height: 1.8;}
//13. removed #headertopbar span.slogan { left:230px; font-size:130%; text-align:left; width: 580px; overflow:hidden; }
//14. removed #headertopbar span.phone  { right:5px; font-size:170%; }
//15. #headertopbar span.phone > a { color: black;}
//16. added .top-bar-title {padding:5px;}