div.menu { display:block; position:relative; overflow:hidden; clear:both; margin:0; padding:0; border:0; font-size:120%;z-index:180; }

div.menu ul { margin:0; padding:0; list-style-type:none; }
div.menu ul ul {width:200px;}
div.menu ul ul li {width:200px;}
div.menu li { float:left; position:relative; }

div.menu li a { line-height:30px;  }
div.menu ul li ul { display:none; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; z-index:1000; }

div.menu ul li a,
div.menu ul li a:visited { display:block; padding: 1px 10px; z-index:1000; }

div.menu ul li:hover a,
div.menu ul li a:hover { color: #ffff00; }

div.menu ul li:hover ul,
div.menu ul li a:hover ul { display:block; position:absolute; margin:0; top:28px; left:-1px; height:auto; color:black; background:#004499; }

div.menu ul li:hover ul li a, 
div.menu ul li a:hover ul li a { border:0; margin:0; padding:0; height:auto;  background:#004499;	padding: 1px 10px; }

div.menu ul li:hover ul li:hover a,
div.menu ul li a:hover ul li a:hover { color:#ffff00; background:#346bc7; }

div.menu li.toplevel:last-child { float:right; }

div.menu li.toplevel > a,
div.menu li.toplevel > a:visited { display:block; padding: 1px 10px;  z-index:1000; }

div.menu li.toplevel:hover > a,
.menu li.toplevel > a:hover { color: $white; background:#225995; }
/*#2252a0 | #225995*/
.menu {
    li {
        &.toplevel{
            a{
                font-size: 110%;
                padding: 0.7rem 1rem;
                color: #333;
            }
        }
    }
}


/* Small only */
@media screen and (max-width: 39.9375em) {
 
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.menu {
    li {
        &.toplevel{
            a{
                font-size: 1.4rem;
            }
        }
    }
}
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

//notes
//1. removed background-color:#004499; from div.menu { }
//2. added color: black; to div.menu {}