    .payment-options {
        .affirm {
            width: 80px;
        }
        .paypal {
            width: 100px;
        }
        .cards {
            width: 150px;
        }
    }
    /*cart*/

    .cart {
        .header {
            margin-bottom: 0;
            text-transform: uppercase;
            border-radius: 3px 3px 0 0;
            background-color: #eee;
            line-height: 1em;
            padding: 20px;
            font-size: 20px;
            font-weight: 400;
        }
        .items {
            padding: 4px;
            border: 1px solid #f3f3f3;
            span.remove {
                a.text.alert {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .caption {
                font-weight: bold;
            }
        }
        table thead,
        table tbody,
        table tfoot {
            border: 0;
        }
    }
    /*order summary*/

    .order-summary {
        color: #efefef;
        background-color: #333;
        .summary-row {
            border-bottom: #444 1px solid;
            padding: 14px 18px;
            clear: both;
            text-transform: uppercase;
            width: 100%;
            font-size: 95%;
            background-color: #333;
        }
        .header {
            font-size: 20px;
            text-transform: uppercase!important;
            border-bottom: #444 1px solid;
            padding: 18px;
        }
        .right {
            float: right;
        }
        .promo-summary {
            .promo-label {
                text-decoration: underline;
                cursor: pointer;
            }
            .add-promo {
                color: white;
            }
            .enter-promo {
                padding-top: 8px;
                display: block;
            }
            .promo-input {
                height: 28px;
                border: none;
                border-radius: 2px;
            }
            .promo-submit {
                border-radius: 2px;
                text-align: center;
                height: 28px;
                margin-left: 8px;
                text-transform: uppercase;
                font-size: 12px;
                background: white;
                color: black;
            }
            .input-group {
                display: table;
                width: 100%;
                margin-bottom: 0;
            }
        }
        .promo-caption {
            font-size: 12px;
        }
        #total {
            font-weight: bold;
        }
    }

    .enter-promo {
        .input-group-button {
            padding-left: 4px;
        }
    }
    /*order-summary messages*/
    /*free shipping*/

    #ch4_summaryMessage {
        border: 1px solid #f3f3f3;
        color: #333;
        border-radius: 2px;
        padding: 20px 20px 21px;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 20px;
        .ch4_summaryMessageTitle {
            font-size: 20px;
            display: block;
            position: relative;
        }
        .ch4_summaryMessageTextBody {
            font-size: 11px;
        }
    }
    /*help*/

    #ch4_summaryHelp {
        border: 1px solid #f3f3f3;
        color: #333;
        border-radius: 2px;
        padding: 20px 20px 21px;
        .ch4_helpTitle {
            letter-spacing: .025em;
            font-size: 18px;
        }
        ul.ch4_helpList {
            font-size: 12px;
            line-height: 24px;
            position: relative;
            margin: 0;
            padding: 12px 16px;
            p {
                margin-bottom: .1rem;
            }
        }
    }

    .editCartButton {
        display: inline-block;
        float: right;
    }

    .ch4_cartItemActions .ch4_btn {
        min-width: 140px;
        margin-bottom: 5px;
        margin-right: 5px;
        font-size: 14px;
        margin-top: 4px;
    }

    .ch4_btnSm,
    .ch4_btnSmOrange {
        height: 30px;
        padding: 5px 10px;
        font-size: 14px;
        text-align: center;
    }

    .ch4_btn,
    .ch4_btn:active {
        font-size: 14px;
        letter-spacing: .025em;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        text-transform: uppercase;
        cursor: pointer;
        outline: 0;
        color: #111;
        background: #f7f7f7;
    }
    /* Small only */

    @media screen and (max-width: 39.9375em) {
        #ch4_summaryMessage {
            .ch4_summaryMessageTitle {
                text-align: center;
            }
            .ch4_summaryMessageTextBody {
                font-size: 14px;
                text-align: center;
            }
        }
        .basket-qty {
            width: 60px;
        }
        .basketImage {
            display: block;
            height: 140px;
        }
        #recalc {
            text-align: center;
        }
        .right {
            float: none;
        }
    }
    /* Large and up */

    @media screen and (min-width: 64em) {
        .basketImage {
            height: 60px;
        }
        #recalc {
            margin-top: 4px;
            .right {
                float: right;
            }
        }
    }

    // Small only
    @media screen and (max-width: 39.9375em) {
        .ch4_contentItems {
            .bordered {
                li {
                    .ch4_cartItem {
                        text-align: center;
                        .ch4_cartItemImg {
                            width: 100%;
                            img {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        .ch4_cartItemContent {
                            display: block;
                        }
                        .ch4_cartItemOption {
                            &.Qty {
                                float: none !important;
                            }
                        }
                        .ch4_cartItemPricing {
                            width: 100%;
                            .ch4_cartItemPrice {
                                text-align: center;
                                font-size: 1.5rem;
                            }
                        }
                        .ch4_cartItemActions {
                            text-align: center;
                        }
                        .ch4_cartItemTitle {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    /* Large and up */

    @media screen and (min-width: 64em) {
        .ch4_contentItems {
            background: #fff;
            color: #666;
            border: 1px solid #f3f3f3;
            border-radius: 2px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            .bordered {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    .ch4_cartItem {
                        position: relative;
                        display: table;
                        width: 100%;
                        .ch4_cartItemImg {
                            width: 150px;
                            text-align: center;
                            min-height: 150px;
                            overflow: hidden;
                            cursor: pointer;
                            display: block;
                            position: relative;
                            img {
                                display: block;
                                margin: 0px 0px 0px 0px;
                            }
                        }
                        .ch4_cartItemContent {
                            vertical-align: top;
                            min-width: 204px;
                            width: 100%;
                            font-size: 12px;
                            padding-left: 20px;
                            display: table-cell;
                            position: relative;
                            .ch4_cartItemPricing {
                                width: 100px;
                                float: right;
                                .ch4_cartItemPrice {
                                    color: #2a70a6;
                                    text-align: right;
                                    font-size: 1rem;
                                }
                            }
                            .ch4_cartItemOptionsContainer {
                                min-width: 150px;
                                max-width: 452px;
                                padding-bottom: 10px;
                                .ch4_cartItemTitle {
                                    .ch4_cartItemDescription {
                                        input {
                                            display: inline-block;
                                            width: auto;
                                            margin: 0 0 0 1rem;
                                        }
                                    }
                                }
                                .ch4_cartItemOption {
                                    clear: left;
                                    display: list-item;
                                    list-style: none;
                                    &.Qty {
                                        float: right;
                                    }
                                    .ch4_cartItemLabel {
                                        color: #333;
                                        font-weight: bold;
                                        i {
                                            font-size: 1.2rem;
                                        }
                                    }
                                    input {
                                        display: inline-block;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ch4_contentItems {
        .bordered {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 20px;
                border-top: 1px solid #eee;
                .ch4_cartItem {
                    position: relative;
                    display: table;
                    width: 100%;
                    .ch4_cartItemImg {
                        text-align: center;
                        min-height: 150px;
                        overflow: hidden;
                        cursor: pointer;
                        display: block;
                        position: relative;
                    }
                    .ch4_cartItemContent {
                        vertical-align: top;
                        min-width: 204px;
                        width: 100%;
                        font-size: 12px;
                        padding-left: 20px;
                        position: relative;
                        .ch4_cartItemPricing {
                            .ch4_cartItemPrice {
                                color: #2a70a6;
                            }
                        }
                        .ch4_cartItemOptionsContainer {
                            min-width: 150px;
                            max-width: 452px;
                            padding-bottom: 10px;
                            .ch4_cartItemTitle {
                                font-size: 14px;
                                a {
                                    color: #444;
                                }
                                .ch4_cartItemDescription {
                                    input {
                                        display: inline-block;
                                        width: auto;
                                        margin: 0 0 0 1rem;
                                    }
                                }
                            }
                            .ch4_cartItemOption {
                                clear: left;
                                display: list-item;
                                list-style: none;
                                &.Qty {
                                    float: right;
                                }
                                .ch4_cartItemLabel {
                                    color: #333;
                                    font-weight: bold;
                                    i {
                                        font-size: 1.2rem;
                                    }
                                }
                                input {
                                    display: inline-block;
                                    width: auto;
                                }
                            }
                        }
                        .ch4_cartItemActions {
                            clear: both;
                            .ch4_btn {
                                font-weight: bold;
                                min-width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }