.button {
    &.round {
        display: inline-block;
        padding: .9em;
        border-radius: 50em;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        letter-spacing: .1em;
        transition: all .2s;
    }
}
