.inputform {
    tbody {
        border: 0;
        tr {
            background-color: #e2e3e7 !important;
        }
    }
}

td.graph{
    img {
        height: 30px;
    }
}

.garage {
    a {
        margin-right: 5px;
    }
}

.customer-links {
    float: right;
}