/*saved cart*/
.border-0 {
    .td {
        border: 0 !important;
    }
}

div.basket {
  table
    {
      tbody {
        tr {
           background-color: #fff !important;
        }
      }
      tfoot {
        background-color: #f1f1f1 !important;
        tr {
          background-color: #f1f1f1 !important;
        }
      }
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  div.basket {
  table
    {
      tfoot {
        tr {
          td {
            a{
              display: block !important;
              width: 100% !important;
            }
          }
        }
      }
    }
  }
  .basket {
    .table-responsive-vertical {
      .table {
        tbody {
          tr {
            border: 0;
            border-top: 1px solid #f1f1f1;
            margin-bottom: 0;
          }
        }
        tfoot {
          display: block !important;
        }
      }
    }
  }
}



/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
        div.basket div.cart-row span.links {
        width: 595px;
    }
}
