/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

//google fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen');

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
      url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
      url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
      url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body { 
    font-size: 11pt;
	margin:0;
	color: #444; 
    font-family: 'Noto Sans', sans-serif;
}

hr {
    margin: .8rem auto;
}

a {
    color:#124E78;
}
N206STRTZCQPFOFA
#backToTop {    
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #000000; 
    opacity:0.8;
    padding: 7px 12px;
    display: none;
    overflow:hidden;
    cursor:pointer;
    color:#444;
    border-radius: 60px;
    border: 2px solid #2a70a6;
}

#backToTop * {
    display:inline-block;
    overflow:hidden;
}

#backToTop > span {
    font-size: 16px;    
}
#backToTop > span:before {
    content:'\f077';
    font-family:FontAwesome;
    font-size: 20px;
}

#backToTop:hover {    
    opacity:1;
    color: #444;
}


div.noscript { position:relative; padding:5px; font-size:160%; font-weight:bold; text-align:center; background-color:#ffff00; color:#ff0000; }

/*borders*/
.border-tb-gray {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.border-t-gray {
    border-top: 1px solid #bbb;
}

.border-b-gray {
    border-bottom: 1px solid #bbb;
}

.border-bottom-faded-gray {
        border-bottom: 1px solid #ccc;
}

.border-0 {
         border: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}

.validationgood {
    background-color: #ebf5dc !important;
}
.validationerror {
    background-color: #f7dbdd !important;
}

//background colors using mixin ui-bg-colors
.message {
  @include ui-bg-colors($color-palette);
    position: relative;
  float:left;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

//text colors using mixin ui-colors
.text {
  @include ui-colors($foundation-palette);
}

.message {
  @include ui-bg-colors($foundation-palette);
    position: relative;
  padding: 10px;
}

.errors {
    background-color: #f7dbdd;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(68, 68, 68, 0.25);
    border-radius: 2px;
    position: relative;
    color: #444;
}

.bg {
    @include ui-bg-colors($foundation-palette);
}

.bg-white {
    background: white !important;
}

.margin-0 {
    margin: 0 !important;
}

.has-tip {
    border: 0;
    font-weight: normal;
    cursor: defualt;
}


.cart-price:before { display: inline-block; font-family:FontAwesome; content: "\f07a"; padding-right:10px;}
//notes
//1. removed img {border:0}
//2. removed *html {font-size:10px;}
//3. removed background-color: #444444; font-family:Arial,Verdana,Tahoma,Helvetica,sans-serif; from body {}
//4. removed the following typography tags:
//h1,h2,h3,h4,h5 { color: #004499; clear:both; margin: 5px 0; } 
//h1 {  font-size: 200%;  margin: 8px 0;  }
//h2 { font-size: 175%; }
//h3 { font-size: 160%; }
//h4 { font-size: 120%; }
//h5 { font-size: 100%; color: #336677; text-transform: uppercase; letter-spacing: -1px; padding: 2px 2px 2px 0px; text-align: left; font-weight: normal; }
//p { max-height:999999px; }
//5. removed hr { border-width:1px; height:1px; color:#6666FF; }
//6. removed  border:1px solid #000000; | width: 970px; from #maindiv {}
//7. changed color:#004499; to color: black on a:link, a:visited { }
//8. removed a:hover { color: #0000ff; cursor:pointer; }

