// Small only
@media screen and (max-width: 39.9375em) { }

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

//google fonts
@import url('https://fonts.googleapis.com/css?family=Oxygen');


// Font path
// --------------------------
@font-face {
  font-family: 'Material Design Iconic Font';
  src: url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.eot');
  src: url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.eot') format('embedded-opentype'),
  url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff') format('woff'),
  url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.ttf') format('truetype'),
  url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.svg#Material-Design-Iconic-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,body{
    height: 100%;
}
body { 
	margin:0;
	color: #444; 
}

hr {
    margin: 1rem auto;
}

a {
    color:#124E78;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
        font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif !important; 
}

input {
        font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif !important;
}
.callout {
    a {
        margin-bottom: 0 !important;
    }
}
.text-between-lines {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}
.text-between-lines:before, .text-between-lines:after {
  background-color: #525254;
  content: '';
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.text-between-lines:before {
  right: .5rem;
  margin-left: -50%;
}
.text-between-lines:after {
  left: .5rem;
  margin-right: -50%;
}

#backToTop {    
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #000000; 
    opacity:0.8;
    padding: 10px 20px;
    display: none;
    overflow:hidden;
    cursor:pointer;
    color:#fefefe;
    border-radius: 60px;
    border: 2px solid #2a70a6;
    background: #444;
}

#backToTop * {
    display:inline-block;
    overflow:hidden;
}

#backToTop > span {
    font-size: 20px;    
}
#backToTop > span:before {
    content:'\f2fc';
    font-family:Material Design Iconic Font;
    font-size: 20px;
}

#backToTop:hover {    
    opacity:1;

}


div.noscript { position:relative; padding:5px; font-size:160%; font-weight:bold; text-align:center; background-color:#ffff00; color:#ff0000; }

/*borders*/
.border-tb-gray {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.border-t-gray {
    border-top: 1px solid #bbb;
}

.border-b-gray {
    border-bottom: 1px solid #bbb;
}

.border-bottom-faded-gray {
        border-bottom: 1px solid #ccc;
}

.border-0 {
         border: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}


//background colors using mixin ui-bg-colors
.message {
  @include ui-colors($color-palette);
    position: relative;
  float:left;
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

//text colors using mixin ui-colors
.text {
  @include ui-colors-dash($foundation-palette);
}

.text {
  @include ui-colors($foundation-palette);
}

.message {
  @include ui-colors($foundation-palette);
    position: relative;
  padding: 10px;
}

.bold {
    font-weight: bold;
}

.errors {
    background-color: #f7dbdd;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(68, 68, 68, 0.25);
    border-radius: 2px;
    position: relative;
    color: #444;
}

.bg {
    @include ui-bg-colors($foundation-palette);
}

.bg-white {
    background: white !important;
}

.margin-0 {
    margin: 0 !important;
}

.has-tip {
    border: 0;
    font-weight: normal;
    cursor: defualt;
    display: inline;
}

.divider.bottom.mini {
    margin-top: 5px;
}

.divider.top.mini {
    margin-bottom: 5px;
    border: 0;
}

.divider {
    border-top: 1px solid #ccc;
    height: 0;
    width: 100%;
    clear: both;
}

p {
    text-rendering: optimizeLegibility;
}

.font-weight-bold {
    font-weight: bold !important;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    z-index: 9999;
	background: url('../images/mist.gif') 50% 50% no-repeat #fff;
}

.orbit {
    z-index: 1;
}

.switch {
    .switch-paddle {
        border-radius: 100px;

        &::after {
            border-radius: 100px;
        }
    }
}

#headerannouncement {
    padding: 5px;
    background-color: #2f7eba;
    color: white;
    font-size: 1rem;
}

#closeHeaderAnnouncement {
    color: white;
    float: right;
    margin-top: 5px;
}
//notes
//1. removed img {border:0}
//2. removed *html {font-size:10px;}
//3. removed background-color: #444444; font-family:Arial,Verdana,Tahoma,Helvetica,sans-serif; from body {}
//4. removed the following typography tags:
//h1,h2,h3,h4,h5 { color: #004499; clear:both; margin: 5px 0; } 
//h1 {  font-size: 200%;  margin: 8px 0;  }
//h2 { font-size: 175%; }
//h3 { font-size: 160%; }
//h4 { font-size: 120%; }
//h5 { font-size: 100%; color: #336677; text-transform: uppercase; letter-spacing: -1px; padding: 2px 2px 2px 0px; text-align: left; font-weight: normal; }
//p { max-height:999999px; }
//5. removed hr { border-width:1px; height:1px; color:#6666FF; }
//6. removed  border:1px solid #000000; | width: 970px; from #maindiv {}
//7. changed color:#004499; to color: black on a:link, a:visited { }
//8. removed a:hover { color: #0000ff; cursor:pointer; }

