/*narrative*/
#narrative img { margin:0 5px 5px 5px; border:0; padding:0; }
#narrative p.moreinfo { float:left; clear:both; margin-left:20px; }

#narrative p.p_disclaimer { clear:both; margin:10px; padding:5px; background-color:#ffdddd; font-style:italic; }

.homepage-banner-image {
    max-height: 300px;
}
