/*narrative*/
#narrative img { margin:0 5px 5px 5px; border:0; padding:0; }
#narrative p.moreinfo { float:left; clear:both; margin-left:20px; }

#narrative p.p_disclaimer { clear:both; margin:10px; padding:5px; background-color:#ffdddd; font-style:italic; }

//notes
//1. removed: 
//div.homepage { overflow:hidden; padding:10px 15px; }
//div.homepage h2 a { color: #00439a; }
//div.homepage h1, div.homepage h2 { margin-top:0; }
//div.homepage div.column { position:relative; display:inline-block; }
//div.homepage div.column.right { float:right; clear:right; overflow:hidden; width:676px;  }
//div.homepage div.column.left { float:left; clear:left; overflow:hidden; width:225px; }
//div.homepage div.products { padding:0; }	
//div.homepage div.products div.categories { padding:0; width:100%; }		
//div.homepage div.products div.categories li {margin:0 0 5px 0; width: 212px;}
//div.homepage div.blog img { width:200px; height:150px; float:left; margin-bottom:20px; }
//div.homepage div.section { position:relative; clear:both; overflow:hidden; margin-bottom:10px; }
//div.homepage div.section { position:relative; clear:both; overflow:hidden; margin-bottom:10px; }
//div.homepage div.narrative p { text-align:justify; }