.product-prodotype-one {
    [data-status="selected"]{
        span:nth-of-type(1){
            max-width: 375px;
            overflow: hidden;
            display: inline-block;
            vertical-align:middle;
            font-weight: bold;
        }
    }
    .option-item {
        span:nth-of-type(1){
            max-width: 400px;
            overflow: hidden;
            display: inline-block;
            vertical-align:middle;
        }
    }
    .placeholder{
        span{
            max-width: 100px;
            overflow: hidden;
        }
    }
    .price-cell {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 10px 0 0;
    }
    .product-availability {
        display: block;
        i {
            font-size: 1rem;
            background: #73a32d;
            color: white;
            border-radius: 50%;
            padding: 2px 4px;
        }
    }
    .cart-button {
        display: inline-block;
        text-transform: uppercase;
        padding: .9rem;
        font-weight: 700;
        letter-spacing: .1em;
        margin: 1rem 0 1rem 0;
        font-size: 16px;
    }
    .watchlist {
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        text-align: center;
        a {
            color: #898888;
            font-size: 1em !important;
        }
        i {
            color: #545353;
            font-size: 1.3em !important;
        }
    }
    .select-options {
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        height: 76px;
        text-align: center;
        text-transform: uppercase;
        line-height: 3;
        margin: 1rem 0 0 0;
    }
    .pd3 {
        a {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
        }
    }
    .button {
        &.primary {
            //color: white;
            font-size: 14px;
        }
    }
    .verify-fitment {
        display: inline-block;
        padding: .9em;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        letter-spacing: .1em;
        transition: all .2s;
    }
}

.close-button {
    background-color: transparent;
    font-size: 2em;
    font-weight: 400;
    color: #b7b7b7;
    span {
        font-size: 1.5em;
    }
}

.po-header {
    background-color: #3f4752;
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.8;
    margin: -0.6em -1.04% 0;
    padding: 12px;
    position: relative;
    text-transform: uppercase;
}

.kit-description {
    margin-top: 20px;
    .kit-header {
        font-weight: bold;
        display: inline-block;
    }
    .kit-price {
        font-weight: bold;
        font-size: 1.5em;
        border: 0;
        text-align: center;
        &:disabled {
            background-color: white;
            cursor: default;
        }
    }
    .tabs {
        background: transparent;
        border: 0;
        border-bottom: 1px solid #ccc;
    }
    .tabs-content {
        border: 0;
        background: transparent;
        .tabs-panel {
            &.is-active {
                display: block;
            }
        }
    }
    .tabs-title {
        a {
            font-size: .8rem;
            padding: .5rem;
            &[aria-selected=true] {
                border-bottom: 3px solid #548bb5;
                background: transparent;
                color: #3f4752;
            }
        }
    }
}

.product-options {
    .option {
        button {
            border: 1px solid #dadada;
            font-weight: bold;
            color: #dadada;
            &:hover {
                color: #2c2c2c;
            }
            &.active {
                border: 1px solid #929292;
                color: #548bb5;
                background: #dadada;
            }
            .price {
                display: block;
                font-style: italic;
                font-size: .8em;
                font-weight: normal;
            }
        }
    }
    .drop {
        color: #111;
        padding-bottom: 1em;
        .selected{
                    background: #ebebeb url(img/po-select-bg-up.png) no-repeat right 10px top 24px;
                    border-radius: 2px;
                    border: 1px solid #dadada;
                    cursor: pointer;              
                    position: relative;
                    padding: 12px 4px;
                    overflow: hidden;
                }
        &.open {
            .po-select {
                border-bottom: 0;
                border-radius: 2px 2px 0 0;
                cursor: pointer;
                background: #dadada url(img/po-select-bg-up.png) no-repeat right 10px top 16px;
                &.selected{
                    background: #ebebeb url(img/po-select-bg-up.png) no-repeat right 10px top 24px;
                    border-radius: 2px;
                    border: 1px solid #dadada;
                    cursor: pointer;              
                    position: relative;
                    padding: 12px 4px;
                    overflow: hidden;
                }
            }
            .po-options {
                max-height: 300px;
                overflow: auto;
                margin-bottom: 20px;
            }
        }
    }
    .po-option--label {
        padding: 14px 10px 0 0;
        text-transform: uppercase;
    }
    .po-select {
        background: #fff url(img/po-select-bg-down.png) no-repeat right 10px top 16px;
        border-radius: 2px;
        border: 1px solid #dadada;
        cursor: pointer;      
        position: relative;
        padding: 12px 4px;
        overflow: hidden;
    &.selected{
        background: #fff url(img/po-select-bg-down.png) no-repeat right 10px top 26px;
        border-radius: 2px;
        border: 1px solid #dadada;
        cursor: pointer;
  
        position: relative;
        padding: 12px 4px;
        overflow: hidden;
    }
    }
    .po-options {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 75%;
        float: right;
        ul {
            list-style-type: none;
            font-weight: normal;
            margin: 0;
            border: 1px solid #dadada;
            li {
                cursor: pointer;
                padding: 8px;
                border-top: 1px solid #e9e9e9;
                &:first-child {
                    border: none;
                }
                &:hover {
                    background-color: #5aafee;
                }
                input[type="radio"] {
                    width: 100%;
                    display: none;
                }
                label {
                    font-size: 14px;
                }
            }
        }
    }
}

.select-options--cell {
    margin-top: 10px;
    .close-button {
        background-color: transparent;
        font-size: 2em;
        font-weight: 400;
        color: #b7b7b7;
        span {
            font-size: 1.5em;
        }
    }
    .po-header {
        background-color: #3f4752;
        color: #fff;
        font-size: 1.8em;
        font-weight: 400;
        line-height: 1.8;
        margin: -0.6em -2.04% 0;
        padding: 12px;
        position: relative;
        text-transform: uppercase;
    }
    .kit-description {
        margin-top: 20px;
        .kit-header {
            font-weight: bold;
            display: inline-block;
        }
        .kit-price {
            font-weight: bold;
            font-size: 1.5em;
            border: 0;
            text-align: center;
            &:disabled {
                background-color: white;
                cursor: default;
            }
        }
        .tabs {
            background: transparent;
            border: 0;
            border-bottom: 1px solid #ccc;
        }
        .tabs-content {
            border: 0;
            background: transparent;
            .tabs-panel {
                &.is-active {
                    display: block;
                }
            }
        }
        .tabs-title {
            a {
                font-size: .8rem;
                padding: .5rem;
                &[aria-selected=true] {
                    border-bottom: 3px solid #548bb5;
                    background: transparent;
                    color: #3f4752;
                }
            }
        }
    }
    .product-options {
        .option {
            button {
                border: 1px solid #dadada;
                font-weight: bold;
                color: #dadada;
                &:hover {
                    color: #2c2c2c;
                }
                &.active {
                    border: 1px solid #929292;
                    color: #548bb5;
                    background: #dadada;
                }
                .price {
                    display: block;
                    font-style: italic;
                    font-size: .8em;
                    font-weight: normal;
                }
            }
        }
        .drop {
            color: #111;
            padding-bottom: 1em;
            &.open {
                .po-select {
                    border-bottom: 0;
                    border-radius: 2px 2px 0 0;
                }
                .po-options {
                    max-height: 300px;
                    overflow: auto;
                }
                .option-item {
                    background: pink;
                }
            }
        }
        .po-option--label {
            font-size: .9em;
            padding: 14px 10px 0 0;
            text-transform: uppercase;
        }
        .po-select {
            background: #fff url(https://cdn.carid.com/css/prod-images/po-select-bg-46.svg) no-repeat right 17px top 22px;
            border-radius: 2px;
            border: 1px solid #dadada;
            cursor: pointer;
            height: 45px;
            position: relative;
            padding: 12px 4px;
            overflow: hidden;
        }
        .po-options {
            max-height: 0;
            overflow: hidden;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            ul {
                list-style-type: none;
                font-weight: normal;
                margin: 0;
                border: 1px solid #dadada;
                li {
                    padding: 8px;
                    border-top: 1px solid #e9e9e9;
                    &:first-child {
                        border: none;
                    }
                    &:hover {
                        background-color: #5aafee;
                    }
                    input[type="radio"] {
                        width: 100%;
                        display: none;
                    }
                    label {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/* Medium and up */

@media screen and (min-width: 40em) {
    .view-link {
        float: right;
    }
    .product-options {
        .po-select {
            width: 75%;
        }
        .option {
            button {
                width: 131px;
                padding: 25px;
                display: inline-block
            }
        }
    }
    .po-option--label {
        width: 25%;
        float: left;
        text-align: left;
    }
    .po-quality--label {
        width: 25%;
        float: left;
        text-align: left;
        padding: 25px 12px 0 0;
    }
    .cart-actions {
        button {
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
            height: 56px;
            margin: 2em 0 2.02%;
            text-align: center;
            text-transform: uppercase;
            width: 242px;
        }
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .product-options {
        .option{
            text-align: center;
        }
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .product-options {
        .option{
            text-align: center;
            ul{
                li{
                    span{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
        .po-options {
            width: 100%;
        }
    }
    .cart-actions {
        button {
            width: 100%;
        }
    }
}

.product-prodotype-two {
    .addtocartcell {
        float: none !important;
    }
    .watchlist {
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        text-align: center;
        a {
            color: #898888;
            font-size: 1em !important;
        }
        i {
            color: #545353;
            font-size: 1.3em !important;
        }
    }
    .cartbutton {
        float: none !important;
        border-radius: 0%;
        display: block;
    }
    .price-cell {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 10px 0 0;
    }
    .product-availability {
        display: block;
        i {
            font-size: 1rem;
            background: #73a32d;
            color: white;
            border-radius: 50%;
            padding: 2px 4px;
        }
    }
    .cart-button {
        display: inline-block;
        text-transform: uppercase;
        padding: .9rem;
        font-weight: 700;
        letter-spacing: .1em;
        margin: 0;
        font-size: 16px;
    }
}

.product-prodotype-three {
    .addtocartcell {
        float: none !important;
    }
    .watchlist {
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        text-align: center;
        a {
            color: #898888;
            font-size: 1em !important;
        }
        i {
            color: #545353;
            font-size: 1.3em !important;
        }
    }
    .cartbutton {
        float: none !important;
        border-radius: 0%;
        display: block;
    }
    .price-cell {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0 10px 0 0;
    }
    .product-availability {
        display: block;
        i {
            font-size: 1rem;
            background: #73a32d;
            color: white;
            border-radius: 50%;
            padding: 2px 4px;
        }
    }
    .cart-button {
        display: inline-block;
        text-transform: uppercase;
        padding: .9rem;
        font-weight: 700;
        letter-spacing: .1em;
        margin: 0;
        font-size: 16px;
    }
    @media screen and (min-width: 40em) {
        .drop {
            display: block;
        }
        .po-select {
            width: 75% !important;
        }
        .po-option--label {
            display: block;
            width: 25%;
            float: left;
            text-align: left;
        }
        .po-quality--label {
            display: block;
            width: 25%;
            float: left;
            text-align: left;
            padding: 25px 12px 0 0;
        }
    }
}
