/*vehicle selector*/

#vehicleselector {
    background: darken(#393e41, 5%);
    overflow: hidden;
    border-top: 1px solid #2a70a6;
    border-width: 8px;
    padding: 9px;
    left: 16px;
    /*top;0;*/
    z-index: 10;
}

#vehicleselector {
    .caption {
        color: $white !important;
    }
    select {
        margin: 0 0 0.6rem;
        border-radius: 500px;
    }
    .button {
        margin: 0;
        &.warning {
            color: black;
            font-weight: normal;
            font-size: 95%;
            border-radius: 20px;
            float: right;
        }
    }
}

#vs-narrative {
    h4 {
        font-size: 170%;
    }
    p {
        font-size: 120%;
    }
}


/*vehicle selector*/

#vselector {
    background: #393E41; //background: darken(#004499, 10%);
    padding: 10px;
    border-top: 8px solid #e9ce47;
.caption {
    color: $white;
}
}


.vehicle-selector {
    .button.warning {
        color: black;
    }
}


/* Small only */

@media screen and (max-width: 39.9375em) {
    #vehicleselector {
        margin-bottom: 20px;
    }
}