<h6 class="text alert">If your order is urgent nature and you need next day air shipping, please <strong>CALL</strong> to place your Order: 800-444-6473</h6>
<p>Our helpful Customer Service staff will be glad to give you current inventory status and expedite the processing of your
    order.</p>
<p><b>Shipping charges are based on your products grouped as a single shipment.</b> If you need some of your items sooner, you
    can place separate orders or contact us to split your order. <b>Additional shipping charges will be applied to split orders.</b></p>
<p>Next day shipping does not include Saturday delivery.</p>
