<div class="row">
                <div class="small-12 columns">
                    <div class="brands-carousal">
                        <div class="">
                            <img src="assets/img/brands/136.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/87.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/123.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/115.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/82.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/72.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/112.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/144.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/124.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/135.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/67.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/3.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/4.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/6.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/10.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/16.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/48.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/64.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/130.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/32.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/33.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/121.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/96.jpg" alt=""></div>
                        <div class="">
                            <img src="assets/img/brands/111.jpg" alt=""></div>
                    </div>
                </div>
            </div>