<div class="products">
<div class="categories">
    <h4 class="categories-header"><a href="/prodtype.asp">Shop By Category</a></h4>
    <ul class="menu vertical">
        <li><a href="/prodtype.asp?CAT_ID=944&amp;numRecordPosition=0">Books &amp; Media</a></li>
        <li><a href="/prodtype.asp?CAT_ID=945&amp;numRecordPosition=0">Brakes</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1123&amp;numRecordPosition=0">Car Care Products</a></li>
        <li><a href="/prodtype.asp?CAT_ID=957&amp;numRecordPosition=0">Collectibles &amp; Apparel</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1053&amp;numRecordPosition=0">Electrical</a></li>
        <li><a href="/prodtype.asp?CAT_ID=986&amp;numRecordPosition=0">Engine</a></li>
        <li><a href="/prodtype.asp?CAT_ID=997&amp;numRecordPosition=0">Exhaust System</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1050&amp;numRecordPosition=0">Exterior</a></li>
        <li><a href="/prodtype.asp?CAT_ID=958&amp;numRecordPosition=0">Filters &amp; Tune-Up</a></li>
        <li><a href="/prodtype.asp?CAT_ID=988&amp;numRecordPosition=0">Fuel &amp; Ignition System</a></li>
        <li><a href="/prodtype.asp?CAT_ID=998&amp;numRecordPosition=0">Heating &amp; Cooling</a></li>
        <li><a href="/prodtype.asp?CAT_ID=983&amp;numRecordPosition=0">Intake &amp; Induction</a></li>
        <li><a href="/prodtype.asp?CAT_ID=999&amp;numRecordPosition=0">Interior</a></li>
        <li><a href="/prodtype.asp?CAT_ID=970&amp;numRecordPosition=0">Lighting &amp; Lenses</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1072&amp;numRecordPosition=0">Miscellaneous Products</a></li>
        <li><a href="/prodtype.asp?CAT_ID=987&amp;numRecordPosition=0">Suspension &amp; Steering</a></li>
        <li><a href="/prodtype.asp?CAT_ID=968&amp;numRecordPosition=0">Tools</a></li>
        <li><a href="/prodtype.asp?CAT_ID=969&amp;numRecordPosition=0">Transmission &amp; Drive Train</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1000&amp;numRecordPosition=0">Wheels</a></li>
        <li><a href="/prodtype.asp?CAT_ID=1102&amp;numRecordPosition=0">Wipers &amp; Washers</a></li>
    </ul>
</div>
</div>