    <div id="footerarea">
      <div class="container">
        <ul>
          <li>
            <h2>My Account</h2>
          </li>
          <a href="https://dev4.ipdusa.com/customer_home.asp">
            <li>Account details</li>
          </a>
          <a href="https://dev4.ipdusa.com/customer_garage.asp">
            <li>My Garage</li>
          </a>
          <a href="https://dev4.ipdusa.com/customer_savecart.asp">
            <li>My Saved Carts</li>
          </a>
          <a href="https://dev4.ipdusa.com/customer_home.asp">
            <li>My Classified Ads</li>
          </a>
          <a href="https://dev4.ipdusa.com/customer_order_history.asp">
            <li>Manage my Orders</li>
          </a>
          <a href="https://dev4.ipdusa.com/customer_account.asp?s=gjx8js23044285&amp;strLogout=y">
            <li>Sign Off</li>
          </a>
        </ul>
      </div>
      <div class="container">
        <ul>
          <li>
            <h2>Shopping</h2>
          </li>
          <a href="https://dev4.ipdusa.com/prodtype.asp">
            <li>Products</li>
          </a>
          <a href="https://dev4.ipdusa.com/faq.asp">
            <li>FAQ</li>
          </a>
          <a href="https://dev4.ipdusa.com/faq.asp?FAQ_ID=2">
            <li>Returns &amp; Warranty</li>
          </a>
          <a href="https://dev4.ipdusa.com/blogs/365/terms-and-conditions">
            <li>Privacy Policy</li>
          </a>
          <a href="https://dev4.ipdusa.com/blogs/365/terms-and-conditions">
            <li>Terms &amp; Conditions</li>
          </a>
        </ul>
      </div>
      <div class="container">
        <ul>
          <li>
            <h2>Company</h2>
          </li>
          <a href="https://dev4.ipdusa.com/blogs/31/decades-of-history-with-the-volvo-community">
            <li>About Us</li>
          </a>
          <a href="https://dev4.ipdusa.com/contact.asp">
            <li>Contact Us</li>
          </a>
          <a href="https://dev4.ipdusa.com/contact.asp">
            <li>Business Hours</li>
          </a>
          <a href="https://dev4.ipdusa.com/news.asp">
            <li>News &amp; Blogs</li>
          </a>
          <a href="https://dev4.ipdusa.com/blogs/230/ipd-careers">
            <li>Job Listings</li>
          </a>
        </ul>
      </div>
      <div class="container">
        <ul>
          <li>
            <h2>Community</h2>
          </li>
          <a href="https://dev4.ipdusa.com/blogs/30/volvo-forums-clubs-community-sites">
            <li>Community Links</li>
          </a>
          <a href="https://dev4.ipdusa.com/classifieds.asp">
            <li>Free Classified Ads</li>
          </a>
        </ul>
      </div>
      <div class="container">
        <ul>
          <li>
            <h2>Fun Stuff</h2>
          </li>
          <a href="https://dev4.ipdusa.com/news.asp?BLOG_SEARCHCAT=2">
            <li>iPd Project Cars</li>
          </a>
          <a href="https://dev4.ipdusa.com/employees.asp">
            <li>iPd Employee Pages</li>
          </a>
          <a href="https://dev4.ipdusa.com/techtips.asp">
            <li>iPd Tech Tips</li>
          </a>
        </ul>
      </div>

      <div class="contactinfo">
        <p><a href="tel:15032577500">Local 503.257.7500</a> / <a href="tel:18004446473">Toll-free 800.444.6473</a> / <a href="tel:15032577596">Fax 503.257.7596</a></p>
        <p>Monday Through Friday: 8:30 AM to 5:00 PM Pacific Time</p>
        <p><a href="https://maps.google.com/maps?q=11744+ne+ainsworth+circle+portland+or+97220&amp;hl=en&amp;sll=45.523452,-122.676207&amp;sspn=0.53976,1.083527&amp;hnear=11744+NE+Ainsworth+Cir,+Portland,+Multnomah,+Oregon+97220&amp;t=m&amp;z=16"
            target="_blank">11744 NE Ainsworth Circle / Portland OR 97220 USA</a></p>
        <p>PO BOX 20339 / Portland OR 97294 USA</p>
      </div>
      <div class="faq">
        <p><a href="https://dev4.ipdusa.com/blogs/31/decades-of-history-with-the-volvo-community">IPD has been faithfully serving the Volvo Community for more than 50 years!</a></p>
        <p><a href="https://dev4.ipdusa.com/blogs/1/will-adding-aftermarket-performance-products-void-my-car-s-factory-warranty">Will adding aftermarket performance products void my car's factory warranty?</a></p>
      </div>
      <div class="copyright">
        <p>
          © Copyright 2012 IPD
          <br>Site content and prices are subject to change without notice.
          <br>All trademarks and trade names are the property of their respective trademark holders.
          <br>IPD is not affiliated with Volvo Car Corporation or any of its' subsidiaries.
        </p>
      </div>
    </div>