<div id="footerarea" class="footer callout large secondary">
  <div class="row">
    <div class="large-10 columns">
      <div class="row footer-links">
        <div class="large-3 columns">
          <h4 class="text-center">My Account</h4>
          <ul class="menu vertical">
            <li class="text-center"><a href="https://www.ipdusa.com/customer_home.asp">Account Details</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/customer_garage.asp">My Garage</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/customer_savecart.asp">My Saved Carts</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/customer_home.asp">My Classified Ads</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/customer_order_history.asp">My Orders</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/customer_account.asp?s=ot4b5g23128548&amp;strLogout=y">Sign Off</a></li>
          </ul>
          <hr class="hide-for-large">
        </div>
        <div class="large-3 columns">
          <h4 class="text-center">Shopping</h4>
          <ul class="menu vertical">
            <li class="text-center"><a href="https://www.ipdusa.com/prodtype.asp">Products</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/faq.asp">FAQ</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/faq.asp?FAQ_ID=2">Returns & Warranty</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/blogs/365/terms-and-conditions">Privacy Policy</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/blogs/365/terms-and-conditions">Terms & Conditions</a></li>
          </ul>
          <hr class="hide-for-large">
        </div>
        <div class="large-3 columns">
          <h4 class="text-center">Company</h4>
          <ul class="menu vertical">
            <li class="text-center"><a href="https://www.ipdusa.com/blogs/31/decades-of-history-with-the-volvo-community">About Us</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/contact.asp">Contact Us</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/news.asp">Blog</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/blogs/230/ipd-careers">Careers</a></li>
          </ul>
          <hr class="hide-for-large">
        </div>
        <div class="large-3 columns">
          <h4 class="text-center">Engaged</h4>
          <ul class="menu vertical">
            <li class="text-center"><a href="https://www.ipdusa.com/classifieds.asp">Classifieds</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/news.asp?BLOG_SEARCHCAT=2">Project Cars</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/employees.asp">Employee Pages</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/blogs/30/volvo-forums-clubs-community-sites">Community Links</a></li>
            <li class="text-center"><a href="https://www.ipdusa.com/techtips.asp">Tech Tips</a></li>
          </ul>
          <hr class="hide-for-large">
        </div>
      </div>
    </div>
    <div class="large-2 columns">
      <img src="https://www.ipdusa.com/skin/images/50_year_logo_200px.png" />
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="contactinfo">
        <p><a href="tel:15032577500">Local: 503.257.7500</a> | <a href="tel:18004446473">Toll-free: 800.444.6473</a> |
          <a href="tel:15032577596">Fax: 503.257.7596</a>
        </p>
        <p>Monday-Friday | 8:30 AM to 5:00 PM PST</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="menu-centered">
        <ul class="menu">
          <li> <img class="methods" src="https://dev4.ipdusa.com/skin/images/all-cc-logos.png"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="menu-centered">
        <ul class="menu">

          <li>
            <a target="_blank" href="https://www.mcafeesecure.com/RatingVerify?ref=www.ipdusa.com"><img src="https://dev4.ipdusa.com/skin/images/mcafeesitesafe.jpg" alt="mcafee site safe" title="Click to view Mcafee security scan results"></a>
          </li>
          <li>
            <a target="_blank" href="http://www.networksolutions.com/SSL-certificates/index.jsp"><img src="https://dev4.ipdusa.com/skin/images/netsol.jpg" alt="Network Solutions SSL" title="Information on the company providing our SSL certificates"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    {{>social}}
    <div class="row">
    <div class="small-12 columns">
      <p class="text-center copyright">© Copyright 2012 IPD
        <br>Site content and prices are subject to change without notice.
        <br>All trademarks and trade names are the property of their respective trademark holders.
        <br>IPD is not affiliated with Volvo Car Corporation or any of its' subsidiaries.
      </p>
    </div>
  </div>
</div>