<div class="home-banner show-for-medium medium-collapse">
    <div class="row">
        <div class="small-12 medium-4 columns">
            <form action="" class="signup">
                <div class="input-group">
                <input class="input-group-field" type="email" placeholder="Subscribe to our newsletter">
                <div class="input-group-button">
                    <input type="submit" class="button primary" value="Subscribe">
                </div>
                </div>
            </form>
        </div>
       
        <div class="small-12 medium-4 columns">            
            <div class="social text-center social-banner">
                <a href="#" class="uk-icon-button"><i class="zmdi zmdi-facebook"></i></a>
                <a href="#" class="uk-icon-button"><i class="zmdi zmdi-youtube"></i></a>
                <a href="#" class="uk-icon-button"><i class="zmdi zmdi-twitter"></i></a>
                <a href="#" class="uk-icon-button"><i class="zmdi zmdi-instagram"></i></a>
                <a href="#" class="uk-icon-button"><i class="zmdi zmdi-google-plus"></i></a>
            </div>
        </div>
        
        <div class="small-12 medium-4 columns">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <img src="assets/img/wpd.png" alt="wpd" style="height: 60px;margin-top:6px; float:right;" />
                </div>
                <div class="small-12 medium-8 columns">
                    <h6 style="color: white; display:inline-block;">Your source for <br>quality auto parts</h6>
                </div>
            </div>
            
        </div>
    </div>
</div>