<div class="row large-collapse">
    <div class="columns small-9">
        <img style="max-height: 350px; width: 100%;" src="https://dev4.ipdusa.com/skin/images/ipd-modern-banner.PNG" alt="Space">
    </div>
    <div class="columns small-3">
        <div class="row">
            <div class="columns small-12">
                <img style="padding-bottom:12px;" src="https://www.wpdusa.com/css/images/home-tile-free-shipping-175.jpg">
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <img style="margin-bottom:12px;" src="https://www.wpdusa.com/css/images/home-tile-subaru.jpg">
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <img style="padding-bottom:12px;" src="https://www.wpdusa.com/css/images/home-tile-free-shipping-175.jpg">
            </div>
        </div>
    </div>
</div>
</div>