<div class="row column show-for-large">
  <h5>Recent News</h5>
</div>
<div class="row column news show-for-large">
  <ul class="menu vertical show-for-large">
    <li>
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_433.jpg" alt="ipd Partners with European Tuning"></a>
    </li>
    <li>
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_432.jpg" alt="ipd Partners with European Tuning"></a>
    </li>
    <li>
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_430.jpg" alt="ipd Partners with European Tuning"></a>
    </li>
    <li>
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_429.jpg" alt="ipd Partners with European Tuning"></a>
    </li>
    <li>
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_434.jpg" alt="ipd Partners with European Tuning"></a>
    </li>
  </ul>
</div>

<div class="row small-up-1 show-for-large">
  <div class="column column-block">
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_433.jpg" alt="ipd Partners with European Tuning"></a>
  </div>
  <div class="column column-block">
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_432.jpg" alt="ipd Partners with European Tuning"></a>
  </div>
  <div class="column column-block">
     <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_430.jpg" alt="ipd Partners with European Tuning"></a>
  </div>
  <div class="column column-block">
     <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_429.jpg" alt="ipd Partners with European Tuning"></a>
  </div>
  <div class="column column-block">
      <a href="https://ipdusa.com/blogs/434/ipd-partners-with-european-tuning"><img src="https://www.ipdusa.com/uploads/images_blog/thumbnail_434.jpg" alt="ipd Partners with European Tuning"></a>
  </div>
</div>