        <div class="shop-by-model">
          <div class="row">
     
        <div class="large-3 columns">
          <ul class="menu vertical">
          <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=11">
            Volvo PV Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=10">
            Volvo Amazon Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=12">
            Volvo 1800 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=13">
            Volvo 140 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=14">
            Volvo 164 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=15">
            Volvo 240/260 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=16">
            Volvo 740/760 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=17">
            Volvo 940 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=41">
            Volvo 960 Parts
        </a></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <ul class="menu vertical">
         <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=18">
            Volvo S90 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=19">
            Volvo V90 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=1">
            Volvo 850 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=27">
            Volvo C30 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=8">
            Volvo C70 Parts (98-04)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=9">
            Volvo C70 Parts (06-13)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=4">
            Volvo S40 Parts (00-04)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=5">
            Volvo S40 Parts (05-12)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=39">
            Volvo S60 Parts (01-09)
        </a></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <ul class="menu vertical">
            <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=40">
            Volvo S60 Parts (11-17)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=20">
            Volvo S70 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=2">
            Volvo S80 Parts (99-06)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=36">
            Volvo S80 Parts (07-17)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=28">
            Volvo V40 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=25">
            Volvo V50 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=46">
            Volvo V60 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=22">
            Volvo V70 Parts (98-00)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=23">
            Volvo V70 Parts (01-07)
        </a></li>
          </ul>
        </div>
                <div class="large-3 columns">
          <ul class="menu vertical">
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=37">
            Volvo V70 Parts (08-10)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=30">
            Volvo V70XC Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=34">
            Volvo XC60 Parts
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=31">
            Volvo XC70 Parts (01-07)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=38">
            Volvo XC70 Parts (08-17)
        </a></li>
        <li><a href="https://www.ipdusa.com/prodtypemodelbrowser.asp?VM_CHOICE=26">
            Volvo XC90 Parts (03-14)
        </a></li>
          </ul>
        </div>
      </div>
   </div>