<div class="resultsbox row small-up-1 large-up-3">
    <div class="columns box shopbycar">
        <a href="/choosevehicle.asp?VL_RETURNTO=0"><img src="https://www.ipdusa.com/skin/images/ShopByCar.jpg"><h5 class="modelmake text-center">Shop by Car</h5><p class="modelnotes text-center">Displays only products that fit the selected car (more precise)</p></a>
    </div>
    <div class="columns box shopbycar">
        <a href="/prodtypemodelbrowser.asp"><img src="https://www.ipdusa.com/skin/images/ShopByModelFamily.jpg"><h5 class="modelmake text-center">Shop by Model family</h5><p class="modelnotes text-center">Displays products for the entire model family (less precise)</span></a>
    </div>
    <div class="columns box shopbycar">
        <a href="/customer_garage.asp"><img src="https://www.ipdusa.com/skin/images/ShopByMyGarage.jpg"><h5 class="modelmake text-center">Shop from My Garage</h5><p class="modelnotes text-center">Select a car you previously<br>saved to your Garage</p></a>
    </div>
</div>