<div class="row">
    <div class="small-12 columns">
        <div class="menu-centered">
            <ul class="menu social">
                <li>
                    <a target="_blank" href="http://www.facebook.com/ipdusa/"><img src="https://dev4.ipdusa.com/skin/images/facebook50px.png" alt="FaceBook" title="Follow us on FaceBook"></a>
                </li>
                <li>
                    <a target="_blank" href="http://www.youtube.com/user/IpdVolvo"><img src="https://dev4.ipdusa.com/skin/images/youtube50px.png" alt="YouTube" title="For more videos, visit our video channel on youTube"></a>
                </li>
                <li>
                    <a target="_blank" href="https://plus.google.com/116453085796992349062"><img src="https://dev4.ipdusa.com/skin/images/googleplus50px.png" alt="Google Plus" title="Find us on Google Plus"></a>
                </li>
                <li>
                    <a target="_blank" href="http://www.pinterest.com/ipdusa/"><img src="https://dev4.ipdusa.com/skin/images/pinterest50px.png" alt="Pinterest" title="Find us on Pinterest"></a>
                </li>
         
                <li>
                    <a target="_blank" href="http://instagram.com/ipdvolvo"><img src="https://dev4.ipdusa.com/skin/images/instagram50px.png" alt="Instagram" title="Follow us on Instagram"></a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/ipdVolvo"><img src="https://dev4.ipdusa.com/skin/images/twitter50px.png" alt="Twitter" title="Follow us on Twitter"></a>
                </li>
                <li>
                    <a target="_blank" href="http://www.yelp.com/biz/ipd-company-inc-portland"><img src="https://dev4.ipdusa.com/skin/images/yelp50px.png" alt="Yelp"></a>
                </li>
                <li>
                    <a target="_blank" href="http://4sq.com/bw6sbJ"><img src="https://dev4.ipdusa.com/skin/images/foursquare50px.png" alt="Foursquare"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--old trust elements
  <div id="trustelements">
    <div class="wrappericons" align="center">
      <a target="_blank" href="http://www.facebook.com/ipdusa/"><img src="https://dev4.ipdusa.com/skin/images/facebook50px.png" alt="FaceBook" title="Follow us on FaceBook"></a>
      <a target="_blank" href="http://www.youtube.com/user/IpdVolvo"><img src="https://dev4.ipdusa.com/skin/images/youtube50px.png" alt="YouTube" title="For more videos, visit our video channel on youTube"></a>
      <a target="_blank" href="https://plus.google.com/116453085796992349062"><img src="https://dev4.ipdusa.com/skin/images/googleplus50px.png" alt="Google Plus" title="Find us on Google Plus"></a>
      <a target="_blank" href="http://www.pinterest.com/ipdusa/"><img src="https://dev4.ipdusa.com/skin/images/pinterest50px.png" alt="Pinterest" title="Find us on Pinterest"></a>
      <a target="_blank" href="http://instagram.com/ipdvolvo"><img src="https://dev4.ipdusa.com/skin/images/instagram50px.png" alt="Instagram" title="Follow us on Instagram"></a>
      <a target="_blank" href="https://twitter.com/ipdVolvo"><img src="https://dev4.ipdusa.com/skin/images/twitter50px.png" alt="Twitter" title="Follow us on Twitter"></a>
      <a target="_blank" href="http://www.yelp.com/biz/ipd-company-inc-portland"><img src="https://dev4.ipdusa.com/skin/images/yelp50px.png" alt="Yelp"></a>
      <a target="_blank" href="http://4sq.com/bw6sbJ"><img src="https://dev4.ipdusa.com/skin/images/foursquare50px.png" alt="Foursquare"></a>
    </div>
  </div>-->