<div class="resto-info">
    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1" role="tabpanel" aria-hidden="false" aria-labelledby="panel1-label">
            <form class="vehicle-selector">
                <div class="row expanded">

                    <div class="medium-2 large-offset-1 columns columns">
       <h4 class="text-center" style="color: white;">Shop By Vehicle</h4>
                    </div>
                    <div class="medium-2 columns">
                        <label style="color: white;">Year
                                <select></select>
                            </label>
                    </div>
                    <div class="medium-2 columns">
                        <label style="color: white;">Make
                                <select></select>
                            </label>
                    </div>
                    <div class="medium-2 columns">
                        <label style="color: white;">Model
                                <select></select>
                            </label>
                    </div>
                    <div class="medium-2 end columns">
                        <br>
                        <button class="button warning" >SHOP NOW</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>