<div class="row small-up-1 medium-up-2 large-up-3 products" data-equalizer>
    <div class="column" data-equalizer-watch>
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="https://dev4.ipdusa.com/uploads/images_products_slideshow/thumbnail_7785.jpg"></a>
            </div>
            <h2 class="product-card-title"><a href="#">IPD - 120056 - Oval Tube Catback Exhaust 2004-2007 S60R V70R</a></h2>
            <span class="product-card-price">$359.95</span>

            <span class="exclusive"></span>
            <div class="product-card-thumbnails">

            </div>
        </div>

    </div>
    <div class="column" data-equalizer-watch>
        <div class="product-card text-center">
            <div class="product-card-thumbnail">
                <a href="#"><img src="https://dev4.ipdusa.com/uploads/images_products_slideshow/thumbnail_30173.jpg"></a>
            </div>
            <h2 class="product-card-title"><a href="#">Corteco - 124743 - Engine Mount Lower Right - S40 V40 2000-2004</a></h2>
            <span class="product-card-price"><i class="zmdi zmdi-tag text-alert"></i> On Sale | $2,600.00</span>
            <span class="product-card-sale">$4,900.95</span>
            <span class="exclusive"></span>
       
            <div class="product-card-thumbnails">
            
            </div>

        </div>
    </div>
    <div class="column" data-equalizer-watch>
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="https://dev4.ipdusa.com/uploads/images_products_slideshow/thumbnail_3413.jpg"></a>
            </div>
            <h2 class="product-card-title"><a href="#">IPD - 112326 - Sport Lowering Springs - 240 Sedan</a></h2>
            <span class="product-card-price">$279.95</span>
            <div class="product-card-thumbnails">

            </div>
        </div>
    </div>
    <div class="column" data-equalizer-watch>
        <div class="product-card">
            <div class="product-card-thumbnail">
                <a href="#"><img src="https://dev4.ipdusa.com/uploads/images_products_slideshow/thumbnail_33203.jpg"></a>
            </div>
            
            <h2 class="product-card-title"><a href="#">IPD - 125531 - Eros Wheel - 18 Inch Silver</a></h2>
            <span class="product-card-price"> $199.99</span>
            <div class="product-card-thumbnails">

            </div>
        </div>
    </div>
</div>