<div class="row">
    <div class="small-12 columns">
        <div id="fitment_response" class="infobox">
            <div class="info-content info-warning callout">
                <h3 style="display:inline;">
                    <i class="text warning zmdi zmdi-alert-circle-o"></i>
                </h3>
                <span class="caption"> This product is specific to particular car models. Please check fitment for your car before buying.</span>
                <div
                    class="buttons">
                    <a id="check_fitment" class="button secondary round hollow" href="javascript:void(0);">Check if this product fits my car</a>
            </div>
        </div>
    </div>
</div>
</div>