<div class="row" id="productheader">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns">
                <h5>
                    <strong>115783 - Rear Anti Sway Bar Kit - P3 S80 S60 V70 XC70 XC60 V60</strong>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-4 columns">
                <img class="prodshot" src="https://www.ipdusa.com/uploads/images_products_slideshow/fullsize_30868.jpg" onclick="fShowProductImages();event.preventDefault();">
                <div class="pd3">
                    <a id="feedbacklink" class="button primary feedback put_2" href="/popupfeedback.asp?s=5btsy631141023&amp;P_ID=8809">Ask us a question</a>
                    <a class="button primary uploadphoto uploadimagelink put_8" href="/submitproductphotoiframe.asp?s=5btsy631141023&amp;P_ID=8809">Share a product photo</a>
                </div>
                <input type="hidden" id="fitment_url" value="https%3A%2F%2Fwww%2Eipdusa%2Ecom%2Fprodtype%2Easp%3FCAT%5FID%3D1123%26amp%3Bcategorycrumbs%3D&quot;">
            </div>
            <div class="small-12 large-8 columns">
                <div class="pd1">
                    <div class="row">
                        <div class="small-12 medium-6 columns">
                            <div class="pricecell">
                                <span>
                                    <span class="normalprice">$279.95</span>
                                    <span class="uom">KIT</span>
                                </span>
                            </div>
                            <span class="productavailability">
                                <i class="zmdi zmdi-check font-weight-bold"></i>
                                <strong>In Stock </strong>
                            </span>
                            <div class="pd4">
                                <p>4.8 </p>
                                <span class="stars">
                                    <span class="zmdi zmdi-star text warning"></span>
                                    <span class="zmdi zmdi-star text warning"></span>
                                    <span class="zmdi zmdi-star text warning"></span>
                                    <span class="zmdi zmdi-star text warning"></span>
                                    <span class="zmdi zmdi-star-half text warning"></span>
                                </span>
                                <a href="javascript:void(0);" id="scrollToReviews">(11)</a>
                                <p></p>
                            </div>
                        </div>
                        <div class="small-12 medium-6 columns">
                            <div class="addtocartcell">
                                <img id="addtocartloading" src="/skin/images/loading.gif" alt="loading" style="display: none; visibility: hidden;">
                                <a id="alreadyincartbutton" class="cartbutton button info" style="display:none;" href="/basket.asp?s=5btsy631141023">CHECKOUT</a>
                                <a id="addtocartbutton" style="" class="cartbutton button secondary" href="/addtocart_popup.asp?s=5btsy631141023&amp;V_ID=15145&amp;P_ID=8809">
                                    <i class="zmdi zmdi-shopping-cart"></i> ADD TO CART</a>
                            </div>
                            <div class="pd-affirm">
                                <p class="affirm-as-low-as" data-amount="27995">Starting at
                                    <span class="affirm-ala-price">$25</span>/month with
                                    <span class="__affirm-logo __affirm-logo-blue">Affirm</span>.
                                    <a href="javascript:void(0)">Learn more</a>
                                </p>
                            </div>
                            <div id="cart-msg"></div>
                        </div>
                    </div>
                    <hr>
                    <ul class="accordion hide-for-medium" data-accordion="k6iytp-accordion" data-allow-all-closed="true"
                        role="tablist">
                        <li class="accordion-item" data-accordion-item="">
                            <a href="#" class="accordion-title" aria-controls="wwajsk-accordion" role="tab" id="wwajsk-accordion-label"
                                aria-expanded="false" aria-selected="false">Product Attributes</a>
                            <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="wwajsk-accordion-label"
                                aria-hidden="true" id="wwajsk-accordion">
                                <div class="row product-attributes">
                                    <div class="small-12 medium-4 columns">
                                        <div class="pd5 productDetails">
                                            <ul class="menu vertical">
                                                <li>
                                                    <strong>IPD Item Number: </strong>115783</li>
                                                <li>
                                                    <strong>Classification: </strong>Performance parts</li>
                                                <li>
                                                    <strong>Quality: </strong>Best (better than OE)</li>
                                                <li>
                                                    <strong>Brand: </strong>IPD</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-4 columns">
                                        <div class="pd5 productStats">
                                            <ul class="menu vertical">
                                                <li>
                                                    <strong>Position: </strong>Rear</li>
                                                <li>
                                                    <strong>Country of Origin: </strong>Usa</li>
                                                <li>
                                                    <strong>Color: </strong>Blue</li>
                                                <li>
                                                    <strong>Material: </strong>Steel</li>
                                                <li>
                                                    <strong>Units Per Car: </strong>1</li>
                                                <li>
                                                    <strong>Warranty: </strong>Limited Lifetime Warranty</li>
                                                <li>
                                                    <strong>Specifications: </strong>25MM DIAMETER</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-4 columns">
                                        <div class="pd5">
                                            <ul class="menu vertical"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row product-attributes show-for-medium">
                    <div class="small-12 medium-6 columns">
                        <div class="pd5 productDetails">
                            <ul class="menu vertical">
                                <li>
                                    <strong>IPD Item Number: </strong>115783</li>
                                <li>
                                    <strong>Classification: </strong>Performance parts</li>
                                <li>
                                    <strong>Quality: </strong>Best (better than OE)</li>
                                <li>
                                    <strong>Brand: </strong>IPD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <div class="pd5 productStats">
                            <ul class="menu vertical">
                                <li>
                                    <strong>Position: </strong>Rear</li>
                                <li>
                                    <strong>Country of Origin: </strong>Usa</li>
                                <li>
                                    <strong>Color: </strong>Blue</li>
                                <li>
                                    <strong>Material: </strong>Steel</li>
                                <li>
                                    <strong>Units Per Car: </strong>1</li>
                                <li>
                                    <strong>Warranty: </strong>Limited Lifetime Warranty</li>
                                <li>
                                    <strong>Specifications: </strong>25MM DIAMETER</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row product-attributes">
                    <div class="small-12 columns">
                        <ul class="menu vertical"></ul>
                    </div>
                </div>
            </div>
            <div id="askaquestion" style="display:none;"></div>
            <div id="shareproductphoto" style="display:none;"></div>
        </div>
    </div>
</div>