<header>
<div class="top-bar">
    <div class="row">
    <div class="small-12 columns">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/">Home</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/prodtype.asp" title="Find ipd Products">Shopping</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/promotions.asp">Deals</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/news.asp">Blog</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/techtips.asp">Tech Tips</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/blogs/31/ipd-50-years-of-history-with-the-volvo-community">About Us</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/contact.asp">Contact Us</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/blogs/30/volvo-forums-clubs-community-sites" title="Community Links">Community</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/classifieds.asp" title="Volvo Classified Ads">Classifieds</a></li>
            <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/customer_home.asp">My Account</a></li>
        </ul>
    </div>
    <div id="header4" class="top-bar-right menu-centered show-for-large">
        <ul class="menu">            
            <li><a id="init-search" class="search"><i class="fa fa-search"></i>Search</a></li>
            <li><a href="https://www.ipdusa.com/basket.asp" class="cart cart-price" id="cartprice">$0.00</a></li>
        </ul>
    </div>
</div>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-3 columns">
        <div id="logos">
            <span class="mobile-menu-icon" data-responsive-toggle="responsive-menu" data-hide-for="large" style="display: none;">
                          <button class="menu-icon dark" type="button" data-toggle=""></button>
                      </span>
            <a href="https://www.ipdusa.com/"><img style="display:block; margin:0 auto;" class="logo" src="https://www.ipdusa.com/skin/images/ipdlogo150.png"></a>
            <span class="slogan text-center" style="float:right;">The Volvo Parts, Accessories &amp; Performance Specialists Since 1963</span>
        </div>
    </div>
    <div class="small-12 medium-9 columns">
        <div class="row">
            <div class="small-4 columns text-center">
                <a class="text-center val-bar" href="https://dev4.ipdusa.com/faq.asp?faq_id=1">
                    <span class="font-heading">
                                      <i style="display:block;font-size:1.4rem;" class="fa fa-truck"></i>
                                      <div style="font-size: .9rem;">Free Shipping Over $175</div>
                                  </span>
                </a>
            </div>
            <div class="small-4 columns text-center">
                <a class="text-center val-bar" href="https://dev4.ipdusa.com/faq.asp?faq_id=22">
                    <span class="font-heading">
                                      <i style="display:block;font-size:1.4rem;" class="fa fa-ban"></i>
                                      <div style="font-size: .9rem;">Zero Sales Tax</div>
                                  </span>
                </a>
            </div>
            <div class="small-4 columns text-center top-level">
                <a class="text-center val-bar" href="tel:18004446473">
                    <span class="font-heading">
                                      <i style="display:block; font-size:1.4rem;" class="fa fa-phone"></i>
                                      <div style="font-size: .9rem;">1-800-444-6473</div>
                                  </span>
                </a>
            </div>
        </div>
        <!--<div class="row">
            <div class="small-12 columns">
                <div class="row collapse" id="search-row" style="display: block;">
                    <div class="input-group" id="search">
                        <input class="input-group-field search-input" type="text" id="productsearchwords" placeholder="enter product # or description">
                        <span class="input-group-label"><button id="productsearchwords">Search</button></span>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!--<div class="small-12 medium-3 columns">
        <br>
        <div class="cart-container text-center"><a href="https://www.ipdusa.com/basket.asp" class="cart cart-price" id="cartprice" style="font-color:#333; font-size: 1.3rem;">$0.00</a></div>
        <br>
        <div class="social-media-container menu-centered">
            <ul class="menu">
                <li><img style="width:30px;" src="https://www.ipdusa.com/uploads/images_emailblast/5672.png"/></li>
                <li><img style="width:30px;" src="https://www.ipdusa.com/uploads/images_emailblast/5673.png"/></li>
                <li><img style="width:30px;" src="https://www.ipdusa.com/uploads/images_emailblast/5674.png"/></li>
                <li><img style="width:30px;" src="https://www.ipdusa.com/uploads/images_emailblast/5675.png"/></li>
            </ul>
        </div>
    </div>-->
</div>
<br>
{{>shop-by-model-bar}}
<!--<div class="row expanded show-for-large middle-bar border-tb-gray">
          <div class="small-12 columns">
              <div class="menu-centered">
                  <ul class="menu">
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/">Home</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/prodtype.asp" title="Find ipd Products">Shopping</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/promotions.asp">Deals</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/news.asp">Blog</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/techtips.asp">Tech Tips</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/blogs/31/ipd-50-years-of-history-with-the-volvo-community">About Us</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/contact.asp">Contact Us</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/blogs/30/volvo-forums-clubs-community-sites" title="Community Links">Community</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/classifieds.asp" title="Volvo Classified Ads">Classifieds</a></li>
                      <li class="toplevel"><a style="font-size:100%;" href="https://dev4.ipdusa.com/customer_home.asp">My Account</a></li>
                  </ul>
              </div>
          </div>
      </div>-->
</header>
<br>