.paging a {
    font-weight: normal;
}

.paging_footer {
    padding: 10px 0 10px 0;
    margin: 0 auto 0 auto;
    display: block;
    overflow: hidden;
    width: 640px;
    font-size: 12px;
    clear: both;
}

.paging_footer span {
    display: block;
    overflow: hidden;
    float: left;
    white-space: nowrap;
    text-align: center;
    width: 28px;
    padding: 2px;
    border: 1px
}

.paging_footer span.linked:hover {

}

.paging_footer span.current {
    font-weight: bold;
    padding: 0.1875rem 0.625rem;
      color: #2a70a6; 
    background: #2a70a6;
    cursor: default;
}

.paging_footer span.disabled {
    color: black;
}

.paging_footer span.first {
    padding-right: 10px;
}

.paging_footer span.last {
    padding-left: 10px;
}

.paging_footer span.caption {
    width: 55px;
    color: #124E78;
}

.paging_footer span.popularity {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.paging_footer span.fill {
    padding-right: 10px;
    width: auto;
}

.paging_header {
    text-align: left;
    clear: both;
}