.models {
    .box {
        a {
            span {
                display: block;
                text-align: center;
                &.modelmake {
                    font-weight: bold;
                }
            }
        }
    }
}